<section class="sta-right">
    <p class="title fs20 yahei mgb10">{{_e('关于鲜旅客')}}</p>
    <div class="mgt10 fs14 c999">
    	<div class="con">
	        <p class="c333"><strong>{{_e('鲜旅是一种生活态度,够鲜您就来！')}}</strong></p>
			<p></p>
	        <p class="para">{{_e('这样一个多元化的世界里，有许多不同的文化、宗教和信仰。人们有着强烈的好奇心去追寻心灵的脚步，期待不一样的角度看世界，计划新的旅程去体验不一样的价值观。鲜旅客希望在您的旅程中做一些小小的改变：结合跟团游的省钱省力，再在自助游中加入一个角色，TA能找到比跟团游更便宜的住宿和规划更加自由新鲜的旅程，我们把这个角色称为“小鲜”。有了这个朋友，您就不用再昼夜查阅各种攻略和游记了，只需打包行囊去享受旅行！.')}}</p>
	        <p class="para">{{_e('鲜旅客的使命：为您提供寻找各地“小鲜”的服务。“小鲜”可以是生于斯长于斯的土著居民，也可以是熟悉当地情况的留学生、侨民。他们满怀热情，熟悉并热爱TA所生活的土地，愿意向游客介绍她，带领旅客体验他们原生态的生活方式，探寻新鲜独特的旅行，品味可口的美食、放心愉快的购物……这一切，没有了跟团游的匆忙和自助行的盲目，还可以结交五湖四海的朋友，邂逅令人回味的鲜旅奇缘。')}}</p>
		</div>
		<div class="con">
			<div class="con-t fs20 yahei">{{_e('预约三步法')}}</div>
			<div class="con-c">
				<img src="{{"image/sta/p.png"|url}}" alt="">
			</div>
			<ul class="steps clearfix">
				<li>
					<p class="fs12 lh2em">
						Step1<br/>
						<span class="fs20 yahei c333">{{_e('寻找')}}</span><br/>
						{{_e('您是否已经确定旅行的目的地，或者只是想看看世界上有哪些新奇独特的旅行，询问当地的小鲜，和大家一起讨论行程吧')}}
					</p>
				</li>
				<li>
					<p class="fs12 lh2em">
						Step2<br/>
						<span class="fs20 yahei c333">{{_e('预约小鲜')}}</span><br/>
						{{_e('在沟通和比较之后，您如果找到了比较理想的当地小鲜，就可以点击预约按钮了，并输入您的资料。假如对方接受了您的预约请求，就可以获得他们的联系方式和其他细节。')}}
					</p>
				</li>
				<li>
					<p class="fs12 lh2em">
						Step3<br/>
						<span class="fs20 yahei c333">{{_e('体验鲜旅')}}</span><br/>
						{{_e('在确认好行程和时间之后，接下来就是去享受旅行了！了解不同的文化，感受不同的生活体验，探索新鲜神秘的异域风情，还可以结交新的朋友。别忘了体验之后留下您对小鲜的客观评价。')}}
					</p>
				</li>
			</ul>
		</div>
		<div class="con">
			<div class="con-t fs20 yahei">{{_e('为什么是鲜旅客？')}}</div>
			<ul class="con-why">
				<li>
					<label class="fs20 yahei c333">
						<i class="i-icon i-icon-1"></i>为你省钱
					</label>
					<p>{{_e('首先，我们为小鲜省钱。我们不向小鲜收取任何费用，免费的形象资料展示。其次，为旅客省钱。小鲜可以帮助旅客找到当地性价比更高的住宿和交通工具，还可以带着旅客吃当地小吃、买当地特产、拿当地实惠、甚至与当地人砍价。')}}</p>
				</li>
				<li>
					<label class="fs20 yahei c333">
						<i class="i-icon i-icon-2"></i>丰富多彩的鲜旅
					</label>
					<p>{{_e('任何人都可以发布一个“鲜旅”，您可以随便浏览小鲜们发布的鲜旅，它们都必须经过严格审核。鲜旅可以是多种多样的，可以是在马尔代夫潜水，可以是在全聚德品尝烤鸭，可以在泰国拜访神庙高僧，可以在日本学习制作日本料理，可以在北京798烧制印有自己头像的陶瓷，可以在德国探访宝马总部，还可以在《卧虎藏龙》影片拍摄地的竹林里小憩，最后找到您最心仪的小鲜预约TA。')}}</p>
				</li>
				<li>
					<label class="fs20 yahei c333">
						<i class="i-icon i-icon-3"></i>全球的小鲜
					</label>
					<p>{{_e('再也不用抱着LP满世界的跑，不用害怕漏掉每一篇攻略游记，只需在鲜旅客上找到小鲜。虽然人人都可以成为小鲜，但是我们对每一个进行审核。为你推送和筛选当地最好的小鲜，您只需找到您想要去的目的地。我们还为您收藏您将要去或想去的目的地，以便您随时计划您的行程。')}}</p>
				</li>
				<li>
					<label class="fs20 yahei c333">
						<i class="i-icon i-icon-4"></i>轻松管理预约
					</label>
					<p>{{_e('免费注册鲜旅客的账号，查看您的预约，管理您的行程安排。小鲜发布鲜旅后，您将具备两种身份，一种是旅客，一种是小鲜。你可以作为旅客，预约旅行目的地的小鲜服务，这个时候您可以查看您的预约是否被对方接受。也可以是小鲜，提供鲜旅的服务。管理旅客的预约，接受或拒绝对方的预约申请。')}}</p>
				</li>
				<li>
					<label class="fs20 yahei c333">
						<i class="i-icon i-icon-5"></i>不带偏见的评论
					</label>
					<p>{{_e('旅行结束后，每一位体验过的鲜旅的旅客，分享您对小鲜的评价是必要的。您的客观评价对于后来者具有重要的参考价值。体验过的旅客可以给小鲜评论。')}}</p>
				</li>
			</ul>
		</div>
    </div>
</section>