<section class="sta-right">
    <p class="title fs20 yahei mgb10">{{_e('Banners')}}</p>
    <div class="mgt10 c999 sta-banners">
        <p class="desc">
         {{_e('下方所示鲜旅客的LOGO，供合作伙伴在友情链接中使用')}}
        </p>
        <div>
            <table>
                <tbody>
                    <!--banner-->
                    <tr>
                        <td><span class="fs16 yahei">Banner</span> <span class="c999">(size 234x60)</span><br/><img src="{{"image/sta/b234x60.png"|url}}" alt=""></td>
                        <td><textarea name="" ></textarea></td>
                    </tr>
                    <tr class="br">
                        <td><span class="fs16 yahei">Banner</span> <span class="c999">(size 120x60)</span><br/><img src="{{"image/sta/b120x60.png"|url}}" alt=""></td>
                        <td><textarea name="" ></textarea></td>
                    </tr>
                    <!--logo1-->
                    <tr>
                        <td><span class="fs16 yahei">Logo 1</span> <span class="c999">(size 234x60)</span><br/><img src="{{"image/sta/l234x60.png"|url}}" alt=""></td>
                        <td><textarea name="" ></textarea></td>
                    </tr>
                    <tr class="br">
                        <td><span class="fs16 yahei">Logo 1</span> <span class="c999">(size 120x60)</span><br/><img src="{{"image/sta/l120x60.png"|url}}" alt=""></td>
                        <td><textarea name="" ></textarea></td>
                    </tr>
                     <!--logo2-->
                    <tr>
                        <td><span class="fs16 yahei">Logo 2</span> <span class="c999">(size 234x60)</span><br/><img src="{{"image/sta/2l234x60.png"|url}}" alt=""></td>
                        <td><textarea name="" ></textarea></td>
                    </tr>
                    <tr class="br">
                        <td><span class="fs16 yahei">Logo 2</span> <span class="c999">(size 120x60)</span><br/><img src="{{"image/sta/2l120x60.png"|url}}" alt=""></td>
                        <td><textarea name="" ></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>