<section class="sta-right">
    <p class="title fs20 yahei mgb10">{{_e('联系方式')}}</p>
    <div class="mgt10 c999 sta-contact">
    	<table>
    		<tbody>
    			<tr><td style="width:200px;">{{_e('客服QQ')}}</td><td>2811862075</td></tr>
    			<tr><td>{{_e('新浪微博账号')}}</td><td>@鲜旅客</td></tr>
    			<tr><td>{{_e('电子邮箱')}}</td><td>xianlvke@gmail.com</td></tr>
    			<tr><td>{{_e('微信账号')}}</td><td>鲜旅客</td></tr>
    			<tr><td>{{_e('其它业务请联系')}}</td><td>guest@xianlvke.com</td></tr>
    			<tr><td>{{_e('扫描微信公众号二维码')}}</td><td><img class="mgt10" src="{{"image/sta/er.jpg"|url}}" alt=""></td></tr>
    		</tbody>
    	</table>
    	<p>{{_e('目前鲜旅客团队接受投资，如果您有意投资我们，请发送邮件至:24588283@qq.com')}}</p>
    </div>
</section>