{% extends "base/frame.twig" %}
{% block head %}
    <style type="text/css">
    .find-password {text-align: center;width: 1000px;margin: 0 auto;}
    .find-password .con{margin:200px 0;}
    #msg-tip{display: none;color:red;}
    </style>
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="find-password">
        <form class="con">
            <input style="width:250px;" name="mail" placeholder="{{_e('请输入注册邮箱')}}" type="email" /> <button class="mgl10 btn btn-pink">{{_e('发送重置密码邮件')}}</button>
            <p id="msg-tip"></p>
            <p class="mgt10 c999">{{_e('我们将会把密码重置链接发送到您的邮箱，您在密码重置页面更换新的密码即可。')}}</p>
        </form>
    </section>
    <script type="text/javascript">
        LP.use(['jquery' , 'util'] , function( $ , util ){
            
            $('form').submit(function(){
                
                var data = LP.query2json($(this).serialize());
                if( !util.isEmail(data.email) ){
                    util.error($(this).find('input'));
                    $('#msg-tip').show().html('{{_e("请输入正确的邮箱")}}');
                    return false;
                }
                

                return false;
            });
        });
    </script>
{% endblock %}