<section class="sta-right">
    <p class="title fs20 yahei mgb10">{{_e('团队')}}</p>
    <div class="mgt10 pdt10 c555">
    	<p>{{_e('我们是一个小团队，目前团队成员都来自中国，我们梦想做的一个事情就是，如何让旅行变得更加轻松！')}}</p>
    	<ul class="pdt10 team-list clearfix">
    		<li>
    			<img src="{{"image/sta/t1.png"|url}}" alt="">
    			<p>{{_e('胡捷')}}</p>
    		</li>
    		<li>
    			<img src="{{"image/sta/t2.png"|url}}" alt="">
    			<p>{{_e('黄德纲')}}</p>
    		</li>
    		<li>
    			<img src="{{"image/sta/t3.png"|url}}" alt="">
    			<p>{{_e('易海涛')}}</p>
    		</li>
    		<li>
    			<img src="{{"image/sta/t4.png"|url}}" alt="">
    			<p>{{_e('王丰')}}</p>
    		</li>
    	</ul>
    </div>
</section>