{# user #}
{# module #}
<section class="p-left">
    <div class="p-head">
        <a href="/detail/{{user.id}}"><img src="{{user.head|url('head' , 150 , 150 )}}" width="150" height="150" alt="{{user.name}}"></a>
        {% if USERS[UID].lepei_type %}
        <div class="u-tab clearfix">
            <div class="u-tab-l {{ type != "host" ? "selected" : "" }}">
                <a href="/profile/guest/msg/">{{_e('普通游客')}}</a>
            </div>
            <div class="u-tab-r {{ type == "host" ? "selected" : "" }}">
                <a href="/profile/host/msg/">{{_e('我是小鲜')}}</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% set hostConfig = [
        {key:"center",name:"您的小鲜中心"},
        {key:"msg",name:"消息" ,children:[
            {key:"msg" , name: "私信" },
            {key:"notice" , name: "系统通知" }
        ]},
        {key:"center",name:"您的小鲜中心"}
        ] %}
    <ul class="menu-list">
        {#
        <li class="menu-item"><i class="pi-center"></i>{{_e('您的小鲜中心')}}</li>
        <li class="menu-item"><i class="pi-message"></i>{{_e('消息')}}</li>
        <li class="sub-menu-li">
            <ul class="sub-menu">
                <li class="selected"><i></i>{{_e('私信')}}</li>
                <li><i></i>{{_e('留言')}}</li>
                <li><i></i>{{_e('交易提醒')}}</li>
            </ul>
        </li>

        <li class="menu-item selected">
            <i class="pi-orders"></i>{{_e('订单管理')}} <i class="i-icon i-down-angle"></i>
        </li>
        <li class="sub-menu-li">
            <ul class="sub-menu">
                <li class="selected"><i></i>{{_e('预约我的订单')}}</li>
                <li><i></i>{{_e('评价我的服务')}}</li>
            </ul>
        </li>
        #}
        <li class="menu-item {{ module in ["msg","notice"] ? "selected" : "" }}">
            <a href="/profile/{{type}}/msg/">
                <i class="pi-message"></i>{{_e('消息')}}
                <i class="i-icon i-down-angle"></i>
            </a>
            <ul class="sub-menu">
                <li class="{%if module == "msg"%}selected{%endif%}"><a href="/profile/{{type}}/msg/"><i></i>{{_e('私信')}}</a></li>
                <li class="{%if module == "notice" %}selected{%endif%}"><a href="/profile/{{type}}/notice/"><i></i>{{_e('系统通知')}}</a></li>
            </ul>
        </li>
        <li class="menu-item {{module in ["reply","out-reply"] ? "selected":""}}">
            <a href="/profile/{{type}}/reply/"><i class="pi-reply"></i>{{_e('我的评论')}}</a>
            <ul class="sub-menu">
                <li class="{{module=="reply" ? "selected":""}}">
                    <a href="/profile/{{type}}/reply/"><i></i>{{_e('收到的评论')}}</a>
                </li>
                <li class="{{module=="out-reply" ? "selected":""}}">
                    <a href="/profile/{{type}}/out-reply/"><i></i>{{_e('发出的评论')}}</a>
                </li>
            </ul>
        </li>
        {% if type == "host" && USERS[UID].lepei_type %}
            <li class="menu-item {{module=="service" ? "selected":""}}"><a href="/profile/{{type}}/service/"><i class="pi-service"></i>{{_e('我的鲜旅')}}</a></li>
            <li class="menu-item {{module=="metra" ? "selected":""}}"><a href="/profile/{{type}}/metra/"><i class="pi-data"></i>{{_e('小鲜资料')}}</a></li>
        {% else %}
            <li class="menu-item 
            {{module in ["wish-users","wish-location","wish-post"] ? "selected" : ""}}
            ">
                <a href="/profile/{{type}}/wish-users/">
                    <i class="pi-fav"></i>{{_e('心愿单')}} 
                    <i class="i-icon i-down-angle"></i>
                </a>
                <ul class="sub-menu">
                    <!-- 收藏小鲜 -->
                    <li class="{{module=="wish-users" ? "selected":""}}"><a href="/profile/{{type}}/wish-users/"><i class="pi-service"></i>{{_e('小鲜收藏')}}</a></li>
                    <!-- 想去 -->
                    <li class="{{module=="wish-location" ? "selected":""}}"><a href="/profile/{{type}}/wish-location/"><i class="pi-service"></i>{{_e('城市收藏')}}</a></li>
                    <!-- 收藏项目 -->
                    <li class="{{module=="wish-post" ? "selected":""}}"><a href="/profile/{{type}}/wish-post/"><i class="pi-service"></i>{{_e('帖子收藏')}}</a></li>
                </ul>
            </li>
        {% endif %}
        <li class="menu-item {{module=="setting" ? "selected":""}}"><a href="/profile/{{type}}/setting/"><i class="pi-setting"></i>{{_e('设置')}}</a></li>
    </ul>
</section>