{# user #}
{# module #}
<section class="p-left">
    <div class="p-head">
        <a href="/detail/{{user.id}}"><img src="{{user.head|url('head' , 150 , 150 )}}" width="150" height="150" alt="{{user.name}}"></a>
        {% if USERS[UID].lepei_type %}
        <div class="u-tab clearfix">
            <div class="u-tab-l {{ type != "host" ? "selected" : "" }}">
                <a href="/profile/guest/setting/">{{_e('普通游客')}}</a>
            </div>
            <div class="u-tab-r {{ type == "host" ? "selected" : "" }}">
                <a href="/profile/host/setting/">{{_e('我是乐陪')}}</a>
            </div>
        </div>
        {% endif %}
    </div>

    <ul class="menu-list">
        {#
        <li class="menu-item"><i class="pi-center"></i>{{_e('您的乐陪中心')}}</li>
        <li class="menu-item"><i class="pi-message"></i>{{_e('消息')}}</li>
        <li class="sub-menu-li">
            <ul class="sub-menu">
                <li class="selected"><i></i>{{_e('私信')}}</li>
                <li><i></i>{{_e('留言')}}</li>
                <li><i></i>{{_e('交易提醒')}}</li>
            </ul>
        </li>

        <li class="menu-item selected">
            <i class="pi-orders"></i>{{_e('订单管理')}} <i class="i-icon i-down-angle"></i>
        </li>
        <li class="sub-menu-li">
            <ul class="sub-menu">
                <li class="selected"><i></i>{{_e('预约我的订单')}}</li>
                <li><i></i>{{_e('评价我的服务')}}</li>
            </ul>
        </li>
        #}

        {% if type == "host" && USERS[UID].lepei_type %}
            <li class="menu-item {{module=="service" ? "selected":""}}"><a href="/profile/{{type}}/service/"><i class="pi-service"></i>{{_e('我提供的服务')}}</a></li>
            <li class="menu-item {{module=="metra" ? "selected":""}}"><a href="/profile/{{type}}/metra/"><i class="pi-data"></i>{{_e('乐陪资料')}}</a></li>
        {% else %}
            <li class="menu-item selected">
                <a href="/profile/{{type}}/wish-location/">
                    <i class="pi-fav"></i>{{_e('心愿单')}} <i class="i-icon i-down-angle"></i>
                </a>
            </li>
            <ul class="sub-menu">
                <!-- 想去 -->
                <li class="{{module=="wish-location" ? "selected":""}}"><a href="/profile/{{type}}/wish-location/"><i class="pi-service"></i>{{_e('想去')}}</a></li>
                <!-- 收藏乐陪 -->
                <li class="{{module=="wish-users" ? "selected":""}}"><a href="/profile/{{type}}/wish-users/"><i class="pi-service"></i>{{_e('收藏乐陪')}}</a></li>
                <!-- 收藏项目 -->
                <li class="{{module=="wish-project" ? "selected":""}}"><a href="/profile/{{type}}/wish-project/"><i class="pi-service"></i>{{_e('收藏项目')}}</a></li>
            </ul>
        {% endif %}
        <li class="menu-item {{module=="setting" ? "selected":""}}"><a href="/profile/{{type}}/setting/"><i class="pi-setting"></i>{{_e('设置')}}</a></li>
    </ul>
</section>