{# user #}
<section class="p-left">
    <div class="p-head">
        <img src="{{user.head|url('head' , 150 , 150 )}}" width="150" height="150" alt="{{user.name}}">
        <div class="u-tab clearfix">
            <div class="u-tab-l">
                {{_e('普通游客')}}
            </div>
            <div class="u-tab-r selected">
                {{_e('我是乐陪')}}
            </div>
        </div>
    </div>

    <ul class="menu-list">
        <li class="menu-item"><i class="pi-center"></i>{{_e('您的乐陪中心')}}</li>
        <li class="menu-item"><i class="pi-message"></i>{{_e('消息')}}</li>
        <li class="menu-item selected">
            <i class="pi-orders"></i>{{_e('订单管理')}} <i class="i-icon i-down-angle"></i>
        </li>
        <li class="sub-menu-li">
            <ul class="sub-menu">
                <li class="selected"><i></i>{{_e('预约我的订单')}}</li>
                <li><i></i>{{_e('评价我的服务')}}</li>
            </ul>
        </li>
        <li class="menu-item"><i class="pi-service"></i>{{_e('我提供的服务')}}</li>
        <li class="menu-item"><i class="pi-data"></i>{{_e('乐陪资料')}}</li>
        <li class="menu-item"><i class="pi-setting"></i>{{_e('设置')}}</li>
    </ul>
</section>
{{require('profile/p-left.css')}}