<section class="login-register" id="login-register">
    <div class="tab-head clearfix">
        <a class="tab {%if !request("reg")%}selected{%endif%}">{{_e('登录')}}</a>
        <a class="tab {%if request("reg")%}selected{%endif%}">{{_e('注册')}}</a>
    </div>
    <div class="tab-con clearfix">
        <div class="login" {%if request("reg")%}style="display:none;"{%endif%}>
            <form class="fl">
                <label for="">
                    {{_e('邮箱地址')}}<br/>
                    <input type="text" style="width:250px" class="input-widget2" name="email" />
                </label>
                <label for="">
                    {{_e('密码')}} <a href="">{{_e('忘记密码?')}}</a><br/>
                    <input type="password" style="width:250px" class="input-widget2" name="password" />
                </label>
                <button style="font-size:12px;" class="btn btn-green">{{_e('登录')}}</button>
            </form>
            <div style="padding-top:33px;">
                <strong class="fs14">{{_e('还没创建帐户?')}}</strong><br/>
                <a class="fs14 j-reg" href="javascript:;" >{{_e('点击这里注册')}}</a><br/>
                <p class="c999">{{_e('你可以浏览个人页面并管理你的预订。')}}</p>
            </div>
        </div>
        <div class="register" {%if !request("reg")%}style="display:none;"{%endif%}>
            <form class="fl">
                <label for="">
                    {{_e('昵称')}}<br/>
                    <input type="text" style="width:250px" class="input-widget2" name="name" />
                </label>
                <label for="">
                    {{_e('邮箱地址')}}<br/>
                    <input type="email" style="width:250px" class="input-widget2" name="email" />
                </label>
                <label for="">
                    {{_e('密码')}}<br/>
                    <input type="password" style="width:250px" class="input-widget2" name="password" />
                </label>
                <div class="pw-strength"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                <button style="font-size:12px;" class="btn btn-green">{{_e('创建我的帐户')}}</button>
            </form>
            <div style="padding-top:33px;">
                <strong class="fs14" style="padding-left:5px;">{{_e('快速、免费又安全')}}</strong>
                <p style="color:#003580;">
                    <i class="i-icon i-right"></i>{{_e('修改预订')}}<br/>
                    <i class="i-icon i-right"></i>{{_e('个性化设置你的优惠')}}<br/>
                    <i class="i-icon i-right"></i>{{_e('更快速的预订')}}<br/>
                </p>
            </div>
        </div>
    </div>
</section>
{{require('pagejs/login.js,com/login-reg.css')}}
{{render()}}