{#loc#}
<section class="widget-loc box-s clearfix">
    {% include "widget/loc-img.twig" %}
    <ul class="theme-list J_theme-list">
        {% set colors = ["3ae3bc","ffa978","cb96ee","eba4a5"] %}
        {% for key , count in loc.travel_theme_counts %}
            {% if loop.index <= colors|length %}
                <li><label>{{TRANSLATES[key]}}</label><input data-count="{{count}}" class="nor theme-color" style="width:0px;background-color:#{{colors[loop.index0]}};" disabled type="text"><span class="c999">{{_e('#[num]个鲜旅' , {num: count})}}</span></li>
            {% endif %}
        {% endfor %}
    </ul>
</section>
{{require('index/widget-right.css,pagejs/loc-theme.js')}}