{#loc#}
<section class="widget-loc clearfix">
    <div class="loc-pic">
        <img src="{{loc.images.0|url("img" , 580 , 200)}}" width="580" height="200" alt="">
        <div class="pic-bg">
            <span class="fr metas">{{_e('#[num]个地陪' , {'num':loc.counts.dipei+0})}} &nbsp;&nbsp;&nbsp;&nbsp;{{_e('#[num]个旅行方案' , {'num' : loc.counts.project+0})}}</span>
            <span class="loc-name">{{loc.name}}</span>
        </div>
    </div>
    <ul class="theme-list">
        {% set max = 2000 %}
        {% set maxlength = 500 %}
        {% for key , count in loc.travel_theme_counts %}
            <li><label>{{TRANSLATES[key]}}</label><input class="theme-color" style="width:{{count/max*maxlength}}px;" disabled type="text"><span class="c999">{{_e('#[num]个旅行方案' , {num: count})}}</span></li>
        {% endfor %}
    </ul>
</section>
{{require('index/widget-right.css')}}