{#loc#}
{% import "base/micro.twig" as Micro %}
<section class="widget-loc box-s br4 clearfix">
    {% include "widget/loc-img.twig" %}
    <ul class='user-list clearfix'>
        {% for uid in loc_user_list[loc.id]%}
        {% set user = USERS[uid] %}
        <li>
            {{Micro.userhead( user , 90 )}}
            {{Micro.username( user )}}
            <div class="u-status c999">
                {{Micro.userstatus( user )}}
            </div>
        </li>
        {% endfor %}
    </ul>
    <a hreef="/" class="fr btn btn-green">{{_e('所有位于#[locname]的#[num]个乐陪' , {'num': loc.counts.dipei , 'locname': loc.name})}}</a>
</section>
{{require('index/widget-right.css')}}