{#loc#}
{% import "base/micro.twig" as Micro %}
<section class="widget-loc box-s br4 clearfix">
    {% include "widget/loc-img.twig" %}
    <ul class='user-list clearfix'>
        {% set uids = loc_user_list[loc.id] %}
        {% for i in range(0,4) %}
        {% if uids[i] %}
            {% set user = USERS[uids[i]] %}
            <li>
                {{Micro.userhead( user , 90 )}}
                {{Micro.username( user )}}
                <div class="u-status c999">
                    {{Micro.userstatus( user )}}
                </div>
            </li>
        {% else %}
            <li>
                <div class="radiu-head box-s" style="width:78px;height:78px">
                    <a href="/become/" target="_blank" title="{{_e('虚位以待')}}">
                        <img src="{{'image/null.png'|url}}" width="78" height="78" style="width:78px;height:78px;" alt="{{_e('虚位以待')}}" />
                    </a>
                </div>
                <div class="u-status c999">
                    {{_e('虚位以待')}}
                </div>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    <a href="/loc/{{loc.id}}/" class="fr btn btn-green">{{_e('所有位于#[locname]的#[num]个小鲜' , {'num': loc.counts.dipei+0 , 'locname': loc.name})}}</a>
</section>
{{require('index/widget-right.css')}}