{% import "base/macro.twig" as Macro %}
<section class="box-s search br4 clearfix">
    <div class="search-head">
        <i class="i-icon i-search"></i>{{_e('热门城市的小鲜')}}
    </div>
    <form class="search-body" action="/loc/">
        <span>{{_e('#[num]+个专业小鲜、留学生、当地居民和其它小鲜类型...' , {num: LOCATIONS.0.counts.dipei})}}</span><br/>
        <label class="input-widget J_dropdown">
            {#<input type="text" placeholder="{{_e('国家 / 城市 / 景点')}}" class="nor" />#}
            <span class="input-val">{{_e('国家 / 城市 / 景点')}}</span>
            <input type="hidden" name="lid" />
            <span class="input-angle"><i class="i-icon i-down-angle"></i></span>
            <ul class="dropdown-menu" style="width:358px;margin-left:-1px;">
                {% for lid in search_list %}
                <li>
                    <a data-value="{{lid}}">{{LOCATIONS[lid].name}}</a>
                </li>
                {% endfor %}
            </ul>
        </label>
        <span class="fr">{{_e('点击选择热门目的地')}}</span><br/>
{#
        {{Macro.dateselect( _e('预订日期') , "width:47%;float:left;margin-right:4%;" )}}
        {{Macro.dateselect( _e('结束日期') , "width:47%;float:left;" )}}

        <label><input type="checkbox" style="vertical-align:middle;" />&nbsp;&nbsp;{{_e('暂不指定日期')}}</label>
#}
        <label class="select-widget J_dropdown input-why" >
            <span class="input-val">{{_e('想找个什么类型的小鲜？')}}</span>
            <input type="hidden" name="type" />
            <span class="input-angle" style="border-left:none;"><i class="i-icon i-down-angle"></i></span>
            <ul class="dropdown-menu" style="width:357px;">
                {% for type in var('LEPEI_TYPES') %}
                <li>
                    <a data-value="{{type}}">{{TRANSLATES[type]}}</a>
                </li>
                {% endfor %}
            </ul>
        </label>
        <button class='fs20 s-btn btn yahei btn-pink'>{{_e('搜索')}}</button>
    </form>
    <div class="search-foot"></div>
</section>
{{require("pagejs/search.js,com/search.css")}}