<section class="search br4 box-s clearfix">
    <div class="search-head">
        <i class="i-icon i-search"></i>{{_e('搜索')}}
    </div>
    <form class="search-body" action="/search/">
        <label class="input-widget J_dropdown" style="margin-top:10px;">
            {#<input type="text" placeholder="{{_e('国家 / 城市 / 景点')}}" class="nor" />#}
            {#需要根据当前的lid参数去渲染位置#}
            {% set lid = request('lid') %}
            <span class="input-val">{{ lid ? LOCATIONS[lid].name : _e('国家 / 城市 / 景点')}}</span>
            <input type="hidden" name="lid" value="{{ lid }}"/>
            <span class="input-angle"><i class="i-icon i-down-angle"></i></span>
            <ul class="dropdown-menu" style="width:218px;margin-left:-1px;">
                {% for lid in search_list %}
                <li>
                    <a data-value="{{lid}}">{{LOCATIONS[lid].name}}</a>
                </li>
                {% endfor %}
            </ul>
        </label>
        {#
        <label class="input-widget" style="margin-top:20px;">
            <span class="input-val">{{_e('开始时间')}}</span>
            <i class="i-icon i-date"></i>
        </label>
        <label class="input-widget" style="margin-top:20px;">
            <span class="input-val">{{_e('结束时间')}}</span>
            <i class="i-icon i-date"></i>
        </label>

        <label><input type="checkbox" style="vertical-align:middle;" />&nbsp;&nbsp;{{_e('暂不指定日期')}}</label>
        #}
        <label class="select-widget J_dropdown input-why mgt10" >
            {#需要根据当前的lepei_type参数去渲染#}
            {% set lepei_types = var('LEPEI_TYPES') %}
            {% set lepei_type = request('lepei_type') %}
            <span class="input-val">{{ lepei_type ? TRANSLATES[lepei_type.0] : _e('想找什么类型的小鲜？')}}</span>
            <input type="hidden" name="lepei_type[]" value="{{lepei_type}}" />
            <span class="input-angle" style="border-left:none;"><i class="i-icon i-down-angle"></i></span>
            <ul class="dropdown-menu" style="width:217px;">
                {% for type in lepei_types %}
                <li>
                    <a data-value="{{type}}">{{TRANSLATES[type]}}</a>
                </li>
                {% endfor %}
            </ul>
        </label>
        <button class='fs20 s-btn btn btn-pink'>{{_e('搜索')}}</button>
    </form>
    <div class="search-foot"></div>
</section>
{{require("pagejs/search.js,com/search.css")}}