{% import "base/macro.twig" as Macro %}
{% set post = POSTS[PID] %}
<section class="post-main layout-720-260">
    {% include "widget/path.twig" with 
    {
    path_lid: post.lid,
    path_desc: post.title
    } 
    %}
    <div class="layout-l box-s bg-w">
        <div class="post-body">
            <div class="fl">
                {{Macro.userhead(USERS[post.uid] , 70 )}}
            </div>
            <div class="post-wrap">
                <h1>{{post.title}}</h1>
                <div class="post-meta">
                    <i class="i-icon i-post-{{post.type}}"></i>
                    <span class="c999">{{USERS[post.uid].name}}</span>&nbsp;
                    {% if UID != post.uid %}
                    <a href="javascript:;" data-a="send-msg" data-d="tid={{post.uid}}&name={{USERS[post.uid].name}}" ><i class="i-icon i-smsg"></i></a>
                    {% endif %}
                </div>
                <div class="post-content">
                    {{post.content|raw}}
                </div>
                <div class="post-opts c999">
                    <span class="fl c999">{{Macro.time(post.create_time)}}</span>
                    {% set favtitle = _e('收藏帖子') %}
                    {% set unfavtitle = _e('取消收藏') %}
                    <a class="c999 mgr10" href="javascript:;" data-fav-title="{{favtitle}}" data-unfav-title="{{unfavtitle}}" data-toggle="tooltip" data-title="{{likes[post.id] ? unfavtitle : favtitle }}" data-nl="true" data-a="{{likes[post.id]?'unfav':'fav'}}" data-d="oid={{post.id}}&tp=4">
                        <i class="i-icon i-sfav"></i>{{post.like+0}}
                    </a>
                    <span class="mgr10" ><i class="i-icon i-sview"></i>{{post.view_count+0}}</span>
                    <span id="G_reply-count"><i class="i-icon i-sreply"></i>{{post.reply_count+0}}</span>
                </div>
            </div>
            <div class="replys br4">
                {% include "widget/reply-box.twig" with {pid: PID , type: TYPE} %}
                <ul class="reply-wrap" data-autoload="api=getReply&pid={{post.id}}">
                    <li class="c999">{{_e('正在载入')}}</li>
                </ul>
                
                <div class="tips">
                    <p><strong>{{_e('保持尊重和文明：')}}</strong></p>
                    <p class="c999">· {{_e('请勿张贴您的电话或电子邮件。通过私信沟通。')}}</p>
                    <p class="c999">· {{_e('记住：你是为自己的安全负责。相信你的直觉。')}}</p>
                    <p class="c999">· {{_e('如遇到问题请立即向我们反馈。')}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-r box-s bg-w">
        <section class="box-s bg-w widget-right">
            <div class="post-r-head">
                <strong>{{_e('这次对话中的人')}}</strong><br>
                <span class="c999">{{_e('共有#[num]人参与' , {num:reply_user_count})}}</span>
            </div>
            <ul class="user-list">
                {% for uid in user_list %}
                    <li class="user-item clearfix">
                        <img class="fl bdr100 mgr10" src="{{USERS[uid].head|url("head", 36 )}}" width="36" height="36" alt=""/>
                        <p class="yahei">{{Macro.username(USERS[uid])}}<br/>
                        {{Macro.useraddr(USERS[uid] , LOCATIONS)}}</p>
                    </li>
                {% else %}
                    <li class="no-data">{{_e('暂无数据')}}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
</section>