{% import "base/macro.twig" as Macro %}
{% set project = PROJECTS[PID] %}
<section class="post-main layout-720-260">
    {% include "widget/path.twig" with 
    {
    path_lid: USERS[project.uid].lid,
    path_desc: project.title
    }
    %}
    <div class="layout-l box-s bg-w">
        <div class="post-body project-body">
            <h1>{{project.title}}</h1>
            <div class="p-meta">
                <label for="">{{_e('旅行主题')}}</label>
                <div class="p">
                    {% for theme in project.travel_themes %}
                    {% if !loop.first %}
                        <em class="p-meta-sep mgr10 mgl10">|</em>
                    {% endif %}
                    <span>{{TRANSLATES[theme]}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('服务项目')}}</label>
                <div class="p">
                    {% for service in project.travel_services %}
                    <span class="mgr10"><span class="monospace">√</span>{{TRANSLATES[service]}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('告知条款')}}</label>
                <div class="p">
                    {{project.notice}}
                </div>
            </div>
            {% for day in project.days %}
            <div class="p-meta">
                <label class="fs14">Day{{loop.index}} {{_e('线路')}}</label>
                <div class="p">
                    {% for line in day.lines %}
                    {% if !loop.first %}
                        <em class="p-meta-sep mgr10 mgl10">→</em>
                    {% endif %}
                    <a class="p-meta-item">{{LOCATIONS[line].name}}</a>
                    {% endfor %}
                </div>
                <div class="day-desc fs14 c999">
                    {{day.desc|raw}}
                </div>
            </div>
            {% endfor %}
            <div class="post-opts">
                <span class="fl c999">{{Macro.time(project.create_time)}}</span>
                {% set favtitle = _e('收藏帖子') %}
                {% set unfavtitle = _e('取消收藏') %}
                <a class="c999 mgr10" href="javascript:;" data-fav-title="{{favtitle}}" data-unfav-title="{{unfavtitle}}" data-toggle="tooltip" data-title="{{likes[project.id] ? unfavtitle : favtitle }}" data-nl="true" data-a="{{likes[project.id]?'unfav':'fav'}}" data-d="oid={{project.id}}&tp=2">
                    <i class="i-icon i-sfav"></i>{{project.like+0}}
                </a>
                <span class="c999 mgr10" ><i class="i-icon i-sview"></i>{{project.view_count+0}}</span>
                <a href="javascript:;" class="c999" id="G_reply-count"><i class="i-icon i-sreply"></i>{{project.reply_count+0}}</a>
            </div>
            <div class="replys br4">
                {% include "widget/reply-box.twig" with {pid: PID , type: TYPE} %}
                <ul class="reply-wrap" data-autoload="api=getReply&pid={{project.id}}">
                </ul>
                <div class="tips">
                    <p><strong>{{_e('保持安全和尊重：')}}</strong></p>
                    <p class="c999">· 请勿张贴您的电话或电子邮件。通过沙发冲浪沟通。</p>
                    <p class="c999">· 记住：你是为自己的安全负责。相信你的直觉。</p>
                    <p class="c999">· 报告问题应立即向我们的信任与安全团队.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-r project-right">
        <section class="box-s bg-w widget-right mgb20">
            <div class="uhead">
                <img src="{{USERS[project.uid].head|url("head" , 200 , 200)}}" width="200" height="200" /></div>
            <p>
                <span class="fs16 mgr10 yahei">{{USERS[project.uid].name}}</span> 
                <br/>
                {{Macro.useraddr(USERS[project.uid] , LOCATIONS)}} <br/>
            </p>
            <p>
                {{Macro.price(project)}}
            </p>
            <span class="sep"></span>
            <p>
                {{_e('如果你对我有意思')}}
                <button class="mgt10 btn-block btn btn-lightblue"><i class="mgr10 i-icon i-smsg"></i>{{_e('联系我')}}</button>
            </p>
        </section>
        <section class="box-s bg-w widget-right">
            <div class="post-r-head">
                {% set num = 0 %}
                {% for pid in USERS[project.uid].projects %}
                    {% if PROJECTS[pid].status >=10 %}
                    {% set num = num +1 %}
                    {% endif %}
                {% endfor %}
                <strong>{{_e('TA规划的鲜旅')}}</strong><br>
                <span class="c999">{{_e('共规划了#[num]种方案' , {num: num})}}</span>
            </div>
            <table width="119%" class="project-table-list" style="margin-left:-20px;">
                <tbody>
                    {% for pid in USERS[project.uid].projects %}
                    {% set p = PROJECTS[pid] %}
                    {% if p.status >= 10 %}
                    <tr data-a="link" href="/post/3/{{pid}}/">
                        <td class="p-index"><span>P{{loop.index}}</span></td>
                        <td class="p-title">{{p.title}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="box-s mgt20 bg-w widget-right">
            <div class="post-r-head">
                <strong>{{_e('这次对话中的人')}}</strong><br>
                <span class="c999">{{_e('共有#[num]人参与' , {num:reply_user_count})}}</span>
            </div>
            <ul class="user-list">
                {% for uid in user_list %}
                    <li class="user-item">
                        <img class="fl bdr100 mgr10" src="{{USERS[uid].head|url("head", 36 )}}" width="36" height="36" alt=""/>
                        <p><span class="fs16">{{USERS[uid].name}}</span><br/>
                        {{Macro.useraddr(USERS[uid] , LOCATIONS)}}</p>
                    </li>
                {% else %}
                    <li class="no-data">{{_e('暂无数据')}}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
</section>