{#locids#}
<section class="widget-left">
    <div class="mod-h">{{_e('#[num] countries , #[lnum] guiders' , {'num': 111 , 'lnum': 222})}}</div>
    <div class="mod-b">
        <ul class="widget-loc-list">

        {% for lid in locids %}
            {% set loc=LOCS[lid] %}
            <li class="clearfix br4">
                <span class="fr w-opt"><i class="i-icon i-right-angle"></i></span>
                <img class="fl" src="{{loc.images.0|url("img",170,110)}}" alt="">
                <p>
                    <a class="fs16 tb" href="">{{loc.name}}</a><br/>
                    <span class="c999">{{loc.country}}</span><br/><br/>
                    <span class="c999">{{_e('#[num] guiders' , {'num':1})}} &nbsp;&nbsp;&nbsp;&nbsp;{{_e('#[num] plans' , {'num' : 1000})}}</span>
                </p>
            </li>
        {% else %}
            <li>{{_e('no locations')}}</li>
        {% endfor %}
        </ul>
        <a class="fs16 tb" href="">{{_e('more')}}>></a>
    </div>
</section>
{{require('index/widget-left.css')}}
