{#locids#}
<section class="widget-left">
    <div class="mod-h">{{_e('全球#[num]个国家的#[lnum]个小鲜' , {'lnum': LOCATIONS.0.counts.dipei , 'num': LOCATIONS.0.counts.country})}}</div>
    <div class="mod-b">
        <ul class="widget-loc-list">

        {% for lid in locids %}
            {% set loc=LOCATIONS[lid] %}
            <li class="clearfix box-s br4">
                <a href="/loc/{{loc.id}}/">
                    <span class="fr w-opt"><i class="i-icon i-right-angle"></i></span>
                    <img class="fl" width="170" src="{{loc.images.0|url("img", 170 , 0 )}}" alt="">
                    <p>
                        <span class="fs16 tb">{{loc.name}}</span><br/>
                        <span class="c999">{{loc.country}}</span><br/><br/>
                        <span class="c999">{{_e('#[num]个小鲜' , {'num':loc.counts.dipei + 0})}} &nbsp;&nbsp;&nbsp;&nbsp;{{_e('#[num]个旅行方案' , {'num' : loc.counts.project + 0})}}</span>
                    </p>
                </a>
            </li>
        {% else %}
            <li>{{_e('没有位置。。。')}}</li>
        {% endfor %}
        </ul>
        {#<a class="fs16 tb" href="">{{_e('更多目的地')}}&gt;&gt;</a>#}
    </div>
</section>
{{require('index/widget-left.css')}}
