<section class="widget-left">
    <div class="mod-h">{{_e('为什么使用鲜旅客？')}}</div>
    <div class="mod-b">
        <div class="why-con">
            <div>
                <strong class="fs14">{{_e('低廉的价格')}}</strong><br/>
                {{_e('不收预订费 · Save money · xxxx')}}
            </div>
            <div>
                <strong class="fs14">{{_e('cheap')}}</strong><br/>
                {{_e('no booking fee · Save money · xxxx')}}
            </div>
            <div>
                <strong class="fs14">{{_e('cheap')}}</strong><br/>
                {{_e('no booking fee · Save money · xxxx')}}
            </div>
            <div>
                <strong class="fs14">{{_e('cheap')}}</strong><br/>
                {{_e('no booking fee · Save money · xxxx')}}
            </div>
        </div>
    </div>
</section>
