<section class="widget-left">
    <div class="mod-h">{{_e('为什么使用鲜旅客？')}}</div>
    <div class="mod-b">
        <div class="why-con box-s">
            <div>
                <strong class="fs14">{{_e('为你省钱')}}</strong><br/>
                {{_e('我们不向"小鲜"收取任何费用，免费的形象展示。')}}
            </div>
            <div>
                <strong class="fs14">{{_e('丰富多彩的鲜旅')}}</strong><br/>
                {{_e('任何人都可以发布“鲜旅”，经过审核后就可以展示。')}}
            </div>
            <div>
                <strong class="fs14">{{_e('全球的小鲜')}}</strong><br/>
                {{_e('我们为你推送旅行目的地最好的"小鲜"。')}}
            </div>
            <div>
                <strong class="fs14">{{_e('轻松管理预约')}}</strong><br/>
                {{_e('免费注册鲜旅客的账号，查看您的预约。')}}
            </div>
            <div>
                <strong class="fs14">{{_e('不带偏见的评论')}}</strong><br/>
                {{_e('您的客观评价对于后来者具有重要的参考价值。')}}
            </div>
        </div>
    </div>
</section>
