<section class="widget-left">
    <div class="mod-h">{{_e('why choose lepei.cc?')}}</div>
    <div class="mod-b">
        <div style="padding: 0px 20px;overflow:hidden;background:white;">
            <div>
                <img class="fl" src="{{'image/w-right.png'|url}}" alt="">
                <p style="padding-top:5px;">
                    <strong class="fs14">{{_e('cheap')}}</strong><br/>
                    {{_e('no booking fee · Save money · xxxx')}}
                </p>
            </div>
            <div>
                <img class="fl" src="{{'image/w-right.png'|url}}" alt="">
                <p style="padding-top:5px;">
                    <strong class="fs14">{{_e('cheap')}}</strong><br/>
                    {{_e('no booking fee · Save money · xxxx')}}
                </p>
            </div>
            <div>
                <img class="fl" src="{{'image/w-right.png'|url}}" alt="">
                <p style="padding-top:5px;">
                    <strong class="fs14">{{_e('cheap')}}</strong><br/>
                    {{_e('no booking fee · Save money · xxxx')}}
                </p>
            </div>
            <div>
                <img class="fl" src="{{'image/w-right.png'|url}}" alt="">
                <p style="padding-top:5px;">
                    <strong class="fs14">{{_e('cheap')}}</strong><br/>
                    {{_e('no booking fee · Save money · xxxx')}}
                </p>
            </div>
        </div>
    </div>
</section>
