{% import "base/macro.twig" as Macro %}
<section class="p-reply">
    <p class="yahei fs20">{{_e('评价我的服务')}}</p>
    <ul class="reply-list">
        {% set replys = [{uid:1,order:{pid:1}},2,3] %}
        {% for reply in replys %}
        {% set user = USERS[reply.uid] %}
        {% set order = ORDERS[reply.oid] %}
        {% set p = PROJECTS[reply.order.pid] %}
        <li class="reply-item">
            <p>
                {# get project from order #}
                <a href="" class="mgr10 tb">{{p.title}}</a>. <span class="c999">{{Macro.time(order.time)}}</span>
            </p>
            <div class="reply-block">
                <div class="fr">
                    {{Macro.score( reply.score )}}
                </div>
                <div class="fl">
                    {{Macro.userhead( user , 72 )}}
                </div>
                <div class="reply">
                    <p>{{Macro.username( user )}}{{Macro.useraddr(user , LOCATIONS)}}</p>
                    <p><i class="i-icon i-reply"></i>{{Macro.time(reply.time)}}</p>
                    <p>{{reply.desc}}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>