{% import "base/macro.twig" as Macro %}
<section class="p-reply">
    <p class="yahei fs20">{{ send ? _e('发出的评论') : _e('收到的评论')}}</p>
    <ul class="reply-list">
        {% for reply in REPLYS %}
        <li class="reply-item clearfix">
            <div class="fl reply-head">
                {{Macro.userhead(USERS[reply.uid] , 70) }}
                <div class="mgt10">
                    {{Macro.userstatus(USERS[reply.uid])}}
                </div>
            </div>
            <div class="reply-right">
                <div class="mgb10">
                    {{Macro.username(USERS[reply.uid])}}: {{reply.content}}
                </div>
                <div class="mgb20 c999">
                    {{send ? _e('回复：') : _e('回复我的动态：')}}
                    {% if reply.rid == UID %}
                    <a href="/post/{{POSTS[reply.pid].type}}/{{reply.pid}}/">{{REPLYS[reply.rid].content}}</a>
                    {% elseif POSTS[reply.pid] %}
                    <a href="/post/{{POSTS[reply.pid].type}}/{{reply.pid}}/">{{POSTS[reply.pid].title}}</a>
                    {% else %}
                    <a href="/post/3/{{reply.pid}}/">{{PROJECTS[reply.pid].title}}</a>
                    {% endif %}
                </div>
                <div class="reply-metas">
                    <span class="fr">
                        <span class="hover-show">
                            <a href="javascript:;" data-a="del-reply" data-d="id=69">{{_e('删除')}}</a>
                            {% if !send %}<span class="mgl10 mgr10 caaa">|</span>{% endif %}
                        </span>
                    {% if !send %}
                        <a href="javascript:;" data-a="r-reply" data-d="type={{POSTS[reply.pid].type|default(3)}}&pid={{reply.pid}}&ruid={{reply.uid}}&rid={{reply.id}}&uname={{USERS[reply.uid].name}}">{{_e('回复')}}</a>
                    {% endif %}
                    </span>
                    <span class="c999">{{_e('发布于#[time]' , {time: Macro.time(reply.create_time)})}}</span>
                </div>
            </div>
        </li>
        {% else %}
        <li class="c999">{{_e("暂无数据")}}</li>
        {% endfor %}
    </ul>
    {% include "widget/page.twig" %}
</section>