{% import "base/micro.twig" as Micro %}
{# user #}
<section class="p-setting p-right " >
    <div class="p-head">
        <p class="fs20 yahei">{{_e('设置')}}</p>
    </div>
    <div class="p-body">
        <div class="p-meta">
            <label for="">{{_e('电子邮件')}}</label>
            <div class="p">
                {{user.email}} <em class="mgr10 mgl10">( {{_e('预订确认信将发送至该电邮地址')}} )</em>
                {# 需要知道这个用户是否已经激活过 #}
                {% if !user.actived %}
                    <a href="javascript:;">{{_e('再次发送确认邮件')}}</a>
                {% endif %}
            </div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('个人头像')}}</label>
            <div class="p">
                <img src="{{user.head|url('head' , 200 , 200)}}" width="200" height="200" alt="{{user.name}}">
            </div>
            <button class="btn btn-green" id="J_profile-avatar-edit">{{_e("上传头像")}}</button>
        </div>
        <div class="p-setting-view">
            <div class="p-meta">
                <label for="">{{_e('昵称')}}</label>
                <div class="p">
                    {{user.name}}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('性别')}}</label>
                <div class="p">
                    {{TRANSLATES[user.sex?user.sex:3]}}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('年龄')}}</label>
                <div class="p">
                    {{user.age}}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('国籍')}}</label>
                <div class="p">
                    {{TRANSLATES[user.country + 1000]}}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('地址')}}</label>
                <div class="p">
                    {{Micro.useraddr( user , LOCATIONS )}}
                </div>
            </div>
            <div class="btns">
                <button class="btn btn-green" id="J_profile-edit">{{_e("编辑基本信息")}}</button>
            </div>
        </div>
        <form class="p-setting-edit" id="J_profile-form" action="/profile/setting/">
            <div class="p-meta">
                <label for="">{{_e('昵称')}}</label>
                <div class="p">
                    <input type="text" name="name" value="{{user.name}}" >
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('性别')}}</label>
                <div class="p">
                    <select name="sex" >
                    {% for sex in [3,1,2] %}
                        <option value="{{sex}}" {{ sex == user.sex ? "selected" : ""}}>{{TRANSLATES[ sex ]}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('出生年月')}}</label>
                <div class="p">
                    {% set date = [{name: "birth[year]", value: user.birth.year },{name: "birth[month]", value: user.birth.month },{name: "birth[day]", value: user.birth.day }] %}
                    {{Micro.renderdate( date )}}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('国籍')}}</label>
                <div class="p">
                    <input type="hidden" name="country" value="{{user.country}}" />
                    <input type="text" style="width:400px;" id="J_country-name" value="{{TRANSLATES[user.country]}}" />
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('居住地')}}</label>
                <div class="p">
                    <input type="hidden" name="lid" value="{{user.lid}}"/>
                    <input type="text" style="width:400px;" id="J_lid" value="{{TRANSLATES[user.lid]}}"/>
                </div>
            </div>
            <div class="btns">
                <button class="btn btn-green mgr10" id="J_profile-save">{{_e("保存基本信息")}}</button>
                <button class="btn btn-green mgl10" id="J_profile-cancel">{{_e("取消")}}</button>
            </div>
        </form>
    </div>
</section>
<form class="p-setting " style="display:none;" id="J_avatar-form">
    <input type="hidden" id="upFile" name="upFile" />
    <input type="hidden" id="x" name="x" />
    <input type="hidden" id="y" name="y" />
    <input type="hidden" id="w" name="w" />
    <input type="hidden" id="h" name="h" />
    <div class="p-head">
        <p class="fs20 yahei">{{_e('设置头像')}}</p>
    </div>
    <div class="p-body">
        <div class="p-meta">
            <label for="">{{_e('当前头像')}}</label>
            <div class="p">
                <img src="{{user.head|url('head' , 200 , 200)}}" width="200" height="200" alt="{{user.name}}">
            </div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('上传图片')}}</label>
            <div class="p">
                <div id="J_avatar-upload" class="uploadify">
                    <div id="avatarUpload-button" class="uploadify-button " >
                        <span class="uploadify-button-text">{{_e('请选择图片')}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('头像预览')}}</label>
            <div class="p">
                <div style="width:200px;height:200px;margin:10px 10px 10px 0;overflow:hidden; float:left;"><img class="preview" id="preview3" /></div>
                <div style="width:130px;height:130px;margin:80px 0 10px;overflow:hidden; float:left;"><img class="preview" id="preview2" /></div>
                <div style="width:112px;height:112px;margin:98px 0 10px 10px;overflow:hidden; float:left;"><img class="preview" id="preview" /></div>
            </div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('编辑头像')}}</label>
            <div class="p">
                <img id="target" />
            </div>
        </div>
        <div class="btns">
            <button class="btn btn-green mgr10">{{_e('保存头像')}}</button><button class="btn btn-green mgl10" id="J_avatar-cancel">{{_e('取消')}}</button>
        </div>
    </div>
</form>