{% import "base/micro.twig" as Micro %}
<section class="p-service">
    <div class="program-head">
        <p class="fs20 yahei">{{_e('我提供的服务')}}</p>
        <p>{{_e('请先 <span>绑定你的支付宝账户</span> 才能提交服务，否则你将无法收到付款')}}  <i class="i-icon i-help"></i></p>
    </div>
    <table class="program-list">
        <tbody>
            {% set programs = [1,2] %}
            {% for p in programs %}
            <tr>
                <td><span class="p-index">P{{loop.index}}</span></td>
                <td>{{p.title}}{{Micro.programstatus(p.status)}}</td>
                <td></td>
                <td>{{p.money}}</td>
                <td style="width:80px;"><a href="" class="mgr10">{{_e('编辑')}}</a><a href="">{{_e('移除')}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-green">{{_e('继续创建')}}</button>
</section>