{% import "base/macro.twig" as Macro %}
{# user #}
<section class="p-setting p-right J_p-setting" >
    <div class="p-head">
        <p class="fs20 yahei">{{_e('设置')}}</p>
    </div>
    <div class="p-body">
        <div class="p-meta">
            <label for="">{{_e('昵称')}}</label>
            <div class="p">
                {{user.name}}
            </div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('电子邮件')}}</label>
            <div class="p">
                {{user.email}} <em class="mgr10 mgl10">( {{_e('预订确认信将发送至该电邮地址')}} )</em>
                {# 需要知道这个用户是否已经激活过 #}
                {% if !user.actived %}
                    <a href="javascript:;">{{_e('再次发送确认邮件')}}</a>
                {% endif %}
            </div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('账号密码')}}</label>
            <div class="p">
                <button class="btn btn-green" id="J_change-pw">{{_e("修改密码")}}</button>
            </div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('个人头像')}}</label>
            <div class="p">
                <img src="{{user.head|url('head' , 200 , 200)}}" width="200" height="200" alt="{{user.name}}">
            </div>
            <button class="btn btn-green" style="margin-left:170px;" id="J_profile-avatar-edit">{{_e("上传头像")}}</button>
        </div>
        <div class="p-setting-view">
            <div class="p-meta">
                <label for="">{{_e('性别')}}</label>
                <div class="p">
                    {{TRANSLATES[user.sex?user.sex:3]}}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('年龄')}}</label>
                <div class="p">
                    {% if user.birth.year %}
                        {{"now"|date("Y") - user.birth.year}}
                    {% endif %}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('国籍')}}</label>
                <div class="p">
                    {{LOCATIONS[user.country].name}}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('现居城市')}}</label>
                <div class="p">
                    {{Macro.useraddr( user , LOCATIONS )}}
                </div>
            </div>
            <div class="btns">
                <button class="btn btn-green" id="J_profile-edit">{{_e("编辑基本信息")}}</button>
            </div>
        </div>
        <form class="p-setting-edit" id="J_profile-form" action="/profile/host/setting/">
            <div class="p-meta">
                <label for="">{{_e('性别')}}</label>
                <div class="p">
                    <select name="sex" >
                    {% for sex in [3,1,2] %}
                        <option value="{{sex}}" {{ sex == user.sex ? "selected" : ""}}>{{TRANSLATES[ sex ]}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('出生年月')}}</label>
                <div class="p">
                    {% set date = [{name: "birth[year]", value: user.birth.year },{name: "birth[month]", value: user.birth.month },{name: "birth[day]", value: user.birth.day }] %}
                    {{Macro.renderdate( date )}}
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('国籍')}}</label>
                <div class="p">
                    <input type="hidden" name="country" value="{{user.country}}" />
                    <input type="text" style="width:400px;" id="J_country-name" value="{{LOCATIONS[user.country].name}}" />
                </div>
            </div>
            <div class="p-meta">
                <label for="">{{_e('现居城市')}}</label>
                <div class="p">
                    <input type="hidden" name="lid" value="{{user.lid}}"/>
                    <input type="text" style="width:400px;" id="J_lid" value="{{LOCATIONS[user.lid].name}}"/>
                </div>
            </div>
            <div class="btns">
                <button class="btn btn-green mgr10" id="J_profile-save">{{_e("保存基本信息")}}</button>
                <button class="btn btn-green mgl10" id="J_profile-cancel">{{_e("取消")}}</button>
            </div>
        </form>
    </div>
</section>
<form class="p-setting " style="display:none;" id="J_avatar-form">
    <input type="hidden" id="upFile" name="upFile" />
    <input type="hidden" id="x" name="x" />
    <input type="hidden" id="y" name="y" />
    <input type="hidden" id="w" name="w" />
    <input type="hidden" id="h" name="h" />
    <div class="p-head">
        <p class="path c999"><a href="/profile/{{type}}/setting/" class="tb mgr10">{{_e('返回设置')}}</a><span class="monospace mgr10">&gt;</span>{{_e('设置头像')}}</p>
    </div>
    <div class="p-body">
        <div class="p-meta">
            <label for="">{{_e('当前头像')}}</label>
            <div class="p">
                <img class="uhead" src="{{user.head|url('head' , 200 , 200)}}" width="200" height="200" alt="{{user.name}}">
            </div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('上传图片')}}</label>
            <div class="p">
                <div id="J_avatar-upload" class="uploadify">
                    <div id="avatarUpload-button" class="uploadify-button " >
                        <span class="btn btn-green">{{_e('请选择图片')}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-meta" style="display:none;">
            <label for="">{{_e('头像预览')}}</label>
            <div class="p">
                <div style="width:200px;height:200px;margin:10px 10px 10px 0;overflow:hidden; float:left;"><img class="preview J_preview" id="preview3" /></div>
                <div style="width:130px;height:130px;margin:80px 0 10px;overflow:hidden; float:left;"><img class="preview J_preview" id="preview2" /></div>
                <div style="width:112px;height:112px;margin:98px 0 10px 10px;overflow:hidden; float:left;"><img class="preview J_preview" id="preview" /></div>
            </div>
        </div>
        <div class="p-meta" style="display:none;">
            <label for="">{{_e('编辑头像')}}</label>
            <div class="p">
                <img id="target" />
            </div>
        </div>
        <div class="btns" style="display:none;">
            <button class="btn btn-green mgr10">{{_e('保存头像')}}</button><button class="btn btn-green mgl10" id="J_avatar-cancel">{{_e('取消')}}</button>
        </div>
    </div>
</form>

<form class="p-setting " style="display:none;" id="J_reset-pw-form">
    <div class="p-head">
        <p class="path c999"><a href="/profile/{{type}}/setting/" class="tb mgr10">{{_e('返回设置')}}</a><span class="monospace mgr10">&gt;</span>{{_e('修改密码')}}</p>
    </div>
    <div class="p-body">
        <div class="p-meta">
            <label for="">{{_e('原始密码')}}</label>
            <div class="p">
                <input type="password" style="width:200px;" name="opw" />
                <span class="v-error" style="display:none;"></span>
            </div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('新的密码')}}</label>
            <div class="p">
                <input type="password" style="width:200px;" name="password" />
                <span class="v-error" style="display:none;"></span>
            </div>
            <div class="pw-strength"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
        </div>
        <div class="p-meta">
            <label for="">{{_e('再次输入')}}</label>
            <div class="p">
                <input type="password" style="width:200px;" name="confirm-password" />
                <span class="v-error" style="display:none;"></span>
            </div>
        </div>
        <div class="btns" style="text-align: left;padding-left: 170px;">
            <button class="btn btn-green mgr10">{{_e('保存密码')}}</button>
            <span class="v-right" style="display:none;"><i class="i-icon i-v-right"></i>{{_e('密码保存成功')}}</span>
        </div>
    </div>
</form>