{% import "base/micro.twig" as Micro %}
<section class="p-location" >
    <div class="p-head">
        <p class="fs20 yahei">{{_e('我想去的地方')}}</p>
    </div>
    <div class="p-body">
        <ul class="wish-locations clearfix">
        {% for lid in wish_locations %}
            {% set loc = LOCATIONS[lid] %}
            <li class="wish-location {{loop.index % 2 == 0 ? "even" : "odd"}}">
                <a href="/loc/{{lid}}/">
                    <div class="img-wrap">
                        {% set url = loc.images[0]|url('img' , 350 , 0) %}
                        {% set height = url|get_img_height %}
                        <img style="margin-top:-{{height/2}}px;" src="{{loc.images[0]|url('img' , 350 , 0)}}" alt="{{LOCATIONS[lid].name}}">
                    </div>
                    <i class="i-icon i-delete" data-a="" data-d=""></i>
                    <p class="fs20 location">
                        {{LOCATIONS[lid].name}}
                        {% if loc.path[1] %}
                         , {{LOCATIONS[loc.path[1]].name}}
                        {% endif %}
                    </p>
                    <p class="clearfix c999 mg0">
                        <span class="fr">{{_e('收藏于#[time]' , {time: Micro.time(likes[lid].time)})}}</span>
                        <span>{{_e('#[num]人也想去' , {num: loc.like+0})}}</span>
                    </p>
                </a>
            </li>
        {% else %}
            <li class="c999">{{_e("暂无数据")}}</li>
        {% endfor %}
        </ul>
    </div>
</section>