
{#
    "show_loc": false;
    "show_desc": true;
    "show_opt": false;
    "show_project": false;

    "user" : user object
#}
{% import "base/micro.twig" as Micro %}
<li class="user-item">
    {%if show_opt == true %}
    <div class="u-r">
        <span style="font-size:35px;">{{user.score}}</span><br/>
        <span>{{user.score}}</span>
        <i class="i-icon i-delete" data-a="del-his-lp" data-d="id={{user.id}}"></i>
    </div>
    {% endif %}
    <div class="u-l">
        <!--head-->
        {{Micro.userhead( user , 72 )}}
        <div class="u-status">
            {{Micro.userstatus( user )}}
        </div>
    </div>
    <div class="u-c">
        <p>{{Micro.username( user )}}</p>
        {# show user's desc #}
        {%if show_desc != false %}
        <p class="u-desc br4">{{user.desc|default('这家伙很懒，什么都没有说~~')}}</p>
        {% endif %}
        {# show user's loc and country #}
        {%if show_loc %}
        <p class="u-loc">{{Micro.useraddr( user , LOCATIONS )}}</p>
        {% endif %}
        {%if show_project == true %}
            <table class="u-pro"><tbody>
                {% for pid in user.projects %}
                {% set p = PROJECTS[pid] %}
                {% if p.status >= 10 %}
                <tr>
                    <td class="p-index"><span>P{{loop.index}}</span></td>
                    <td class="p-title">{{p.title}}</td>
                    <td class="p-price">{{Micro.price(p)}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody></table>
        {% endif %}
        <p class="meta">
            {#<span style="color:#669900;">{{_e('最新的预定: #[time]分钟之前' , {'time': '11'}) }}</span><br/>#}
            <span style="color:#669900;">{{_e('他有#[num]个鲜旅计划' , {'num': Micro.projectnum(user.projects , PROJECTS)}) }}</span><br/>
            {#<span class="c999">{{_e('#[number]位客人正在浏览TA' , {'number': '3'}) }}</span>#}
        </p>
    </div>
</li>
{{require("com/user-list.css")}}