{# loc #}
<div class="loc-pic" >
    <a href="/loc/city/{{loc.id}}/">
        {% set url = loc.images[0]|url("img" , 580 , 0) %}
        <img style="margin-top:-{{(url|get_img_height)/2}}px" class="loc-img" src="{{url}}" width="100%" alt="{{loc.name}}">
    </a>
    <span class="loc-name">{{loc.name}} <img src="{{( "image/country/32/" ~ loc.path[1] ~ ".png" )|url("sta") }}" alt=""/></span>
    <div class="pic-bg">
        <a href="/loc/city/{{loc.id}}/" class="fr yahei fs14 mgr10" >
            <i class="i-icon i-like-to"></i>{{_e('#[num]人想去',{num:loc.like+0})}}
        </a>
        <span class="fl metas">{{_e('#[num]个小鲜' , {'num':loc.counts.dipei+0})}} &nbsp;&nbsp;&nbsp;&nbsp;{{_e('#[num]个旅行方案' , {'num' : loc.counts.project+0})}}</span>
    </div>
</div>