<!-- page navigater -->
{% set page = request('page' , 'get')|default(1) %}
{% set total = pagination.total %}

{% if total > 1 %}
<div class="pagination">
  <ul>
  	{% if page > 1 %}
    <li><a href="{{(page-1)|build_page_url}}">«</a></li>
    <li><a href="{{1|build_page_url}}">1</a></li>
    {% endif %}
    {% if page > 5 %}
    <li><span>...</span></li>
    {% endif %}
    {% for p in range(page-3 , page-1) %}
    	{% if p > 1 %}
    	<li><a href="{{p|build_page_url}}">{{p}}</a></li>
    	{% endif %}
    {% endfor %}
    <li><span>{{page}}</span></li>

    {% for p in range(page+1 , page+3) %}
	    {% if p < total %}
	    <li><a href="{{p|build_page_url}}">{{p}}</a></li>
	    {% endif %}
    {% endfor %}

    {% if page < total - 4 %}
    	<li><span>...</span></li>
    {% endif %}
    {% if page < total %}
    	<li><a href="{{total|build_page_url}}">{{total}}</a></li>
    	<li><a href="{{(page+1)|build_page_url}}">»</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}