{#
    path_lid: 最后一层的lid
    path_desc: 最后的描述，如果为空，则表示没有描述
#}
{% set path_loc = LOCATIONS[path_lid] %}
<nav class="path">
    <a href="/">{{_e('首页')}}</a>
    {% set loc_path=path_loc.path|merge([path_lid]) %}
    {% for lid in loc_path %}
        {% if loop.index >=2 %}
        <span>→</span>
        <a href="/loc/city/{{lid}}/" num="{{_e('#[num]个小鲜',{num:LOCATIONS[lid].counts.dipei+0})}}">{{LOCATIONS[lid].name}}</a>
        {% endif %}
    {% endfor %}

    {# render user #}
    {% if path_desc %}
        <span>→</span>{{path_desc}}
    {% endif %}
</nav>