{% import "base/macro.twig" as Macro %}
<form class="pub-wrap">
    <input type="hidden" name="lid" value="{{lid}}" />
    <ul class="clearfix pub-tabs">
        <li class="selected" data-value="2"><i class="i-icon i-post-b-1"></i>{{_e('向本地小鲜提问')}}</li>
        <li data-value="1"><i class="i-icon i-post-b-2"></i>{{_e('分享本地游记')}}</li>
    </ul>
    <div class="pub-c clearfix">
        <div class="fl">{{Macro.userhead(USERS[UID] , 70 , true)}}</div>
        <div class="pub-r">
            <input style="width:570px;" name="title" placeholder="{{_e('标题')}}" type="text" />
            <div class="pub-area" id="G_pub-area" name="content" >
            </div>
            <div class="pub-btn">
                <button class="mgr10 btn btn-green">{{_e('发布')}}</button>
            </div>
        </div>
    </div>
</form>
{{require("loc/pub.css,pagejs/pub.js")}}