{# post  , feed#}
{# 
    show_fav_time == false
    show_user  == false
    show_loc == false
#}
{% set post = feed.type == 3 ? PROJECTS[feed.oid] : POSTS[feed.oid] %}
{% import "base/micro.twig" as Micro %}
<li class="post-item">
    {% if show_user != false %}
    <div class="fl">
        {{Micro.userhead(USERS[post.uid] , 70) }}
    </div>
    {% endif %}
    <div class="post-c" {% if show_user == false %}style="padding-left: 0;"{% endif %}>
        <span class="c999 fr">{{Micro.time(feed.create_time)}}</span>
        <h3 class="p-title"><a href="/post/{{feed.type}}/{{post.id}}/">{{post.title}}</a></h3>
        <div class="p-user"><i class="i-icon i-post-{{feed.type}}"></i>
            {% if show_loc %}
            <i class="i-icon i-loc"></i> {{Micro.useraddr(USERS[post.uid] , LOCATIONS)}}
            {% else %}
            <span class="mgr10 c999">{{USERS[post.uid].name}}</span>
            <a href="javascript:;" data-a="send-msg" data-d="tid={{post.uid}}&name={{USERS[post.uid].name}}" ><i class="i-icon i-smsg"></i></a>
            {% endif %}
        </div>
        {#如果是帖子#}
        <div class="p-content">
        {% if feed.type == 1 || feed.type == 2 %}
            {{post.content|striptags|cut_str(100)}}
        {% else %} {# 如果是旅行项目 #}
            <div class="p-meta clearfix">
                <label class="p-meta-t">{{_e('旅行主题')}}</label>
                <p class="lh30">
                {% set themes = post.travel_themes %}
                {% for theme in themes %}
                    {% if !loop.first %}
                        <em class="p-meta-sep">|</em>
                    {% endif %}
                    <span>
                    {% if theme|php_is_string %}
                        {{theme}}
                    {% else %}
                        {{TRANSLATES[theme]}}
                    {% endif %}
                    </span>
                {% endfor %}
                </p>
            </div>
            <!-- service -->
            <div class="p-meta clearfix">
                <label class="p-meta-t">{{_e('服务项目')}}</label>
                <p class="lh30">
                {% set services = post.travel_services %}
                {% for service in services %}
                    <span class="mgr10">√ {{TRANSLATES[service]}}</span>
                {% endfor %}
                </p>
            </div>
            <!-- tour days -->
            {% for day in post.days %}
            <div class="p-day">
                <div class="p-meta p-day clearfix">
                    <label class="p-meta-t">DAY{{loop.index}}</label>
                    <p class="lh30">
                    {% for line in day.lines %}
                    {% if !loop.first %}
                        <em class="p-meta-sep">→</em>
                    {% endif %}
                    <a class="p-meta-item">{{LOCATIONS[line].name}}</a>
                    {% endfor %}
                    </p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>

        <div class="metas c999 clearfix" >
            {% set favtitle = feed.type == 1 || feed.type == 2 ? _e('收藏帖子') : _e('收藏鲜旅') %}
            {% set unfavtitle = _e('取消收藏')  %}
            <div class="fr mgt10 mgb10">
                <a href="javascript:;" data-fav-title="{{favtitle}}" data-unfav-title="{{unfavtitle}}" data-toggle="tooltip" data-title="{{likes[post.id] ? unfavtitle : favtitle }}" data-nl="true" data-a="{{likes[post.id]?'unfav':'fav'}}" data-d="oid={{post.id}}&tp={{ feed.type == 3?2:4 }}"  class="c999 mgr10" ><i class="i-icon i-sfav"></i>{{post.like+0}}</a>
                <span class="c999 mgr10" ><i class="i-icon i-sview"></i>{{post.view_count+0}}</span>
                <a href="javascript:;" class="c999" data-a="show-post-reply" data-d="pid={{post.id}}&type={{post.type|default(3)}}"><i class="i-icon i-sreply"></i>{{post.reply_count+0}}</a>
            </div>
            
            {% if show_fav_time %}
            <span class="fl mgt10">{{_e('收藏于#[time]' , {time: Micro.time(likes[post.id].time)})}}</span>
            {% else %}
                {% if post.reply_time %}
                <div class="fl reply-info">
                    <a href="/detail/{{feed.last_reply_id}}/" class="mgr10"><img class="bdr100" src="{{USERS[feed.last_reply_id].head|url("head", 30,30)}}" width="30" height="30" alt="" /></a>
                    <span class="caaa">{{_e('#[time]之前最后回复', {time: Micro.time(post.reply_time)})}}</span>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</li>
{{require('com/post.css,pagejs/post-list.js')}}