{# project #}
<div class="project">
    <div class="p-meta">
        <label for="">{{_e('标题')}}</label>
        <div class="p">
            <div id="J_title-tip"></div>
            <input type="text" name="title" value="{{project.title}}" style="width:530px;" />
        </div>
    </div>
    <div class="p-meta">
        <label for="">{{_e('服务报价')}}</label>
        <div class="p">
            <div id="J_price-tip"></div>
            <input type="text" name="price" value="{{project.price}}"/>
            <select name="price_unit" class="mgl10">
                {% for mtid , money in var('MONEYS') %}
                <option value="{{mtid}}" {%if project.price_unit == mtid%}selected{% endif %}>{{TRANSLATES[mtid]}}</option>
                {% endfor %}
            </select>
            
        </div>
    </div>
    <div class="p-meta">
        <label for="">{{_e('旅行主题')}}</label>
        <div class="p">
            <div id="J_themes-tip"></div>
            <ul class="t-list clearfix">
                {# 系统中的旅行主题 #}
                {% for theme_tid in var('TRAVEL_THEMES') %}
                <li>
                    <label><input name="travel_themes[]" {%if theme_tid in project.travel_themes %}checked{%endif%} value="{{theme_tid}}" type="checkbox"/>{{TRANSLATES[theme_tid]}}</label>
                </li>
                {% endfor %}
            </ul>
            <a href="javascript:;" id="J_add-theme" class="tb">+ {{_e('添加自定义主题')}}</a>
        </div>
    </div>
    <div class="p-meta">
        <label for="">{{_e('服务项目')}}</label>
        <div class="p">
            <div id="J_services-tip"></div>
            <ul class="s-list clearfix">
                {# 系统中的旅行服务 #}
                {% for service_tid in var('TRAVEL_SERVICES') %}
                <li>
                    <label><input name="travel_services[]" {%if service_tid in project.travel_services %}checked{%endif%} value="{{service_tid}}" type="checkbox"/>{{TRANSLATES[service_tid]}}</label>
                </li>
                {% endfor %}
            </ul>
            <a href="javascript:;" id="J_add-service" class="tb">+ {{_e('添加自定义项目')}}</a>
        </div>
    </div>
    {#
    <div class="p-meta clearfix">
        <label for="">{{_e('告知条款')}}</label>
        <div class="p">
            <textarea name="notice" class="fl" cols="30" rows="5"></textarea>
            <span class="c999 mgl10" id="J_notice-tip">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
        </div>
    </div>
    #}
    <div class="p-meta p-day br4 mgt10 ">
        <p class="day-tit clearfix">
            <i class="i-icon i-delete fr" style="display:none;"></i>DAY1
        </p>
        <div class="J_day-tit mgt5 input-style" contenteditable="true"></div>
        <div class="lp-ueditor J_ueditor" name="desc"></div>
    </div>
    <div class="p-meta">
        <a href="javascript:;" id="J_add-day" class="add-day tb">+ {{_e('添加行程天数')}}</a>
    </div>
</div>
{{require('com/project.css,pagejs/project.js')}}