{% import "base/micro.twig" as Micro %}
{% for reply in REPLYS %}
<li class="clearfix reply-item" data-rid="{{reply.id}}" data-ruid="{{reply.uid}}">
    <a href="#" class="fl"><img class="bdr100" src="{{USERS[reply.uid].head|url("head", 30,30)}}" width="30" height="30" alt="" /></a>
    <div class="clearfix reply-left">
        <time class="fr c999">{{Micro.time( reply.create_time )}}</time>
        <p>
            <a href="#" class="c999">{{USERS[reply.uid].name}}</a>
            <a href="javascript:;" data-a="send-msg" data-d="tid={{reply.uid}}&name={{USERS[reply.uid].name}}" ><i class="i-icon i-smsg"></i></a>
        </p>
        <p class="c333 reply-c">{{reply.content}}</p>
        <p class="reply-metas clearfix">
            <span class="fr">
                {% if UID == reply.uid %}
                <a href="javascript:;" data-a="del-reply" data-d="id={{reply.id}}" >{{_e("删除")}}</a>
                {% else %}
                <a href="javascript:;" data-a="reply-it" data-name="{{USERS[reply.uid].name}}" >{{_e("回复")}}</a>
                {% endif %}
            </span>
        </p>
    </div>
</li>
{% endfor %}