{% extends "base/frame.twig" %}
{% block title %}search{% endblock %}
{% block content %}
    <section class="layout-260-720">
{% include "widget/path.twig" with { path_loc: LOCATIONS[LID] }  %}
        <div class="layout-l">
            <!--search-->
            {%include "widget/search/small-search.twig" %}

            <!--search mate-->
            <section class="widget-left search-mate br4 clearfix">
                <div class="mod-h">通过以下分类搜索</div>
                <div class="mod-b bg-w box-s" style="overflow:hidden;">
                    {% set configs = [{
                    'title': _e('性别'),
                    'name': 'sex',
                    'values': [1,2]
                },{
                    'title': _e('地陪类型'),
                    'name': 'lepei_type',
                    'values': var('LEPEI_TYPES')
                },{
                    'title': _e('语言'),
                    'name': 'langs',
                    'values': var('LANGUAGES')
                },{
                    'title': _e('提供的服务'),
                    'name': 'travel_services',
                    'values': var('TRAVEL_SERVICES')
                },{
                    'title': _e('旅游主题'),
                    'name': 'travel_themes',
                    'values': var('TRAVEL_THEMES')
                }] %}
                    <ul id="J_search-metas">
                        {% for config in configs %}
                        {% set req = request( config.name ) %}
                        <li>
                            <p><i class="i-icon i-down-pink"></i>{{config.title}}</p>
                            {% for tid in config.values %}
                            <div data-name="{{config.name}}" data-value="{{tid}}"><i class="i-icon i-check {{tid in req ? 'i-checked': ''}}"></i>{{TRANSLATES[ tid ]}}</div>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
        <div class="layout-r">
            <section class="bg-w box-s ofh br4 search-right">
                <p class="fs14 s-title">{{_e('在#[locname]搜索出#[num]位乐陪' , {locname:LOCATIONS[LID].name,num:lepei_count})}}</p>
                {#
                <ul class="s-head clearfix">
                    <li class="s-head-item selected"><a href="">{{_e('网站推荐')}}</a></li>
                    <li class="s-head-item"><a>{{_e('价格')}} <i class="i-icon i-down-gray"></i></a>
                        <ul class="dropdown-menu br4 dropdown-gray">
                            <li><a>{{_e('升序')}}</a></li>
                            <li><a>{{_e('降序')}}</a></li>
                        </ul>
                    </li>
                    <li class="s-head-item"><a>{{_e('评分')}} <i class="i-icon i-down-gray"></i></a>
                        <ul class="dropdown-menu br4 dropdown-gray">
                            <li><a>{{_e('升序')}}</a></li>
                            <li><a>{{_e('降序')}}</a></li>
                        </ul>
                    </li>
                    <li class="s-head-item"><a>{{_e('人气')}} <i class="i-icon i-down-gray"></i></a>
                        <ul class="dropdown-menu br4 dropdown-gray">
                            <li><a>{{_e('升序')}}</a></li>
                            <li><a>{{_e('降序')}}</a></li>
                        </ul>
                    </li>
                </ul>
                #}
                <ul class="lepei-list">
                    {% for uid in lepei_list %}
                        {% include "widget/lepei.twig" with {user:USERS[uid] , show_project: true} %}
                    {% endfor %}
                </ul>
            </section>
        </div>
    </section>
    {{require("search/index.css,pagejs/search-page.js")}}
{% endblock %}