{# progarm #}
<section class="program-detail clearfix">
    <div class="p-opts">
        <div class="p-like"><span class="br4">{{program.like|default(0)}}</span><i class="i-icon i-like"></i></div>
        <div class="p-price">{{var("MONEYS")[program.price_unit].symbol}}<em class="price">{{program.price}}</em></div>
        {# <button class="btn btn-green">{{_e('立即预约')}}</button> #}
    </div>
    <div class="fl p-metas" >
        <!-- title -->
        <div class="p-meta clearfix">
            <label class="p-meta-t fs24 l-blur">P{{loop.index}}</label>
            <h2 class="l-blur">{{program.title}}</h2>
        </div>
        <!-- theme -->
        <div class="p-meta">
            <label class="p-meta-t">{{_e('旅行主题')}}</label>
            <p class="lh30">
            {% set themes = program.travel_themes %}
            {% for theme in themes %}
                {% if !loop.first %}
                    <em class="p-meta-sep">|</em>
                {% endif %}
                <span>
                {% if theme|php_is_string %}
                    {{theme}}
                {% else %}
                    {{TRANSLATES[theme]}}
                {% endif %}
                </span>
            {% endfor %}
            </p>
        </div>
        <!-- service -->
        <div class="p-meta">
            <label class="p-meta-t">{{_e('服务项目')}}</label>
            <p class="lh30">
            {% set services = program.travel_services %}
            {% for service in services %}
                {% if !loop.first %}
                    <em class="p-meta-sep">|</em>
                {% endif %}
                <span>
                {% if service|php_is_string %}
                    {{service}}
                {% else %}
                    {{TRANSLATES[service]}}
                {% endif %}
                </span>
            {% endfor %}
            </p>
        </div>
        <!-- tour days -->
        {% for day in program.days %}
        <div class="p-day">
            <div class="p-meta p-day">
                <label class="p-meta-t">DAY{{loop.index}}</label>
                <p class="lh30">
                {% for line in day.lines %}
                {% if !loop.first %}
                    <em class="p-meta-sep">→</em>
                {% endif %}
                <a class="p-meta-item">{{TRANSLATES[line+1000]}}</a>
                {% endfor %}
                </p>
            </div>
            <div class="p-day-desc">
                {{day.desc}}
            </div>
        </div>
        {% endfor %}
        <div class="p-day-images">
            {% for image in day.images %}
                <img src="{{image}}" alt="" />
            {% endfor %}
        </div>
    </div>
    <span class="p-expand">{{_e('详细说明')}}<i class="i-icon i-down-angle"></i></span>
    <span class="p-shrink">{{_e('收起说明')}}<i class="i-icon i-up-angle"></i></span>
</section>

{{ require('detail/program-detail.css,pagejs/program.detail.js') }}