{% import "base/micro.twig" as Micro %}
{% if user.pass_count %}
<section class="program">
    <div class="program-head">
        <p>
            <span class="program-overview c-num">{{_e('TA规划了<em>#[num]</em>种行程方案' , {num: user.pass_count})}}</span>
            <span class="c999">{{_e('( 你可以直接与TA沟通获得最完美的行程安排 )')}}</span>
        </p>
        {#
        <div class="clearfix">
            <span class="fl">{{_e('你打算什么时候预订TA的服务')}} </span>
            {{Micro.dateselect( _e('开始时间') , "width:170px;float:left;margin-right:10px;margin-left:10px;" )}}
            {{Micro.dateselect( _e('结束时间') , "width:170px;float:left;margin-right:10px;" )}}
            <button><i class="i-icon i-search"></i>{{_e('查看乐陪情况')}}</button> <i class="i-icon i-help"></i>
        </div>
        <p>
           {{_e('你所选的日期：#[date1]致#[date2]' , {'date1':'2013','date2':'2014'})}}<a href="javascript:;">{{_e('更改日期')}}</a>
        </p>
        #}
    </div>
    {# programs #}
    {% set programs = user.projects %}
    {% for pid in programs %}
        {% set p = PROJECTS[pid] %}
        {% include "detail/program-detail.twig" with {"program": p} %}
    {% endfor %}
</section>
{% endif %}
{{ require('detail/program-detail.css') }}
