{# user #}
{% import "base/macro.twig" as Macro %}
<section class="reply">
    <div class="reply-t">
        {{_e('游客对TA的评分：')}}{{Macro.score(user.like)}}
    </div>
    <div class="reply-c">
        <ul class="reply-list">
            {% set replys = [1] %}
            {% for reply in replys %}
            {% set user = USERS[ 1 ] %}
            <li class="reply-item">
                <div class="fl">{{Macro.userhead( user , 70 )}}</div>
                <div class="c-detail">
                    <p><span class="c-score fr">{_e('给TA的评分'): {{Macro.score(user.like)}}</span>{{Macro.username( user )}}{{Macro.useraddr( user , LOCATIONS)}}</p>
                    <p class="c-content br4">
                        {{reply.content}}ssssssssssssssssssssss
                    </p>
                    <p class="c-meta">
                        <span class="c999">ccccccccccccccc{{reply.time}}</span>
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{{require('detail/reply.css')}}