{# user #}
{% import "base/macro.twig" as Macro %}
<section class="user-detail box-s clearfix">
    <div class="fl mgr10">
        <div class="user-head">
            {% if VUID != UID %}
            <a href="javascript:;" class="like-status" data-toggle="tooltip" data-nl="true" data-fav-title="{{_e('收藏小鲜')}}" data-unfav-title="{{_e('取消收藏')}}" title="{{like_status ? _e('取消收藏') : _e('收藏小鲜')}}" data-a="{{like_status ? 'unfav' : 'fav'}}" data-d="tp=3&oid={{user.id}}">
                <span class="i-like-bg"><i class="i-icon i-like-to"></i></span>
            </a>
            {% endif %}
            <img src="{{user.head|url('head' , 200 , 200 )}}" width="200" height="200" alt="" />
        </div>
        <div class="user-photos">
            {% for pic in user.images %}
                <img src="{{pic|url('img' , 60 , 60)}}" width="60" height="60" />
            {% endfor %}
        </div>
    </div>
    <div class="fl mgl10 user-info">
        <!-- user name and score-->
        <div class="clearfix">
            <!--
            <div class="fr orange">
                <span style="font-size:35px;">{{user.like}}</span><br/>
                <span>{{user.like}}</span>
            </div>
            -->
            <div class="fl">
                <p class="user-name">{{Macro.username(user)}}
                    {% if user.id != UID %}
                    <a href="javascript:;" data-a="send-msg" data-d="tid={{user.id}}&name={{user.name}}">
                        <i class="i-icon i-smsg"></i>
                    </a>
                    {% endif %}
                </p>
                <p class="user-meta">
                    {{Macro.useraddr(user , LOCATIONS)}}
                    {{Macro.userstatus(user)}}
                </p>
            </div>
        </div>
        <!-- user medal-->
        <div class="user-badge">
            <img src="{{'image/badge/2.png'|url('sta' , 50 , 50)}}" />
            <img src="{{('image/badge/' ~ user.lepei_type ~ '.png')|url('sta' , 50 , 50)}}" />
            {% if user.status %}
            <img src="{{'image/badge/1.png'|url('sta' , 50 , 50)}}" />
            {% endif %}
            {% for badge in user.badges %}
            <img src="{{badge|url('sta' , 50 , 50 )}}" width="50" height="50" alt="" />
            {% endfor %}
        </div>
        <p class="user-desc c999">
            {{user.desc}}
        </p>
        <p class="user-sex-age">
            <strong>{{_e('性别')}}</strong><span class="c999 mgl10">{{TRANSLATES[user.sex]}}</span><br/>
            {% if user.year %}
            <strong>{{_e('年龄')}}</strong><span class="c999 mgl10">{{"now"|date('Y') - user.year}}</span>
            {% endif %}
        </p>
        <p class="user-type">
            <strong>{{_e('小鲜类型')}}</strong> {{TRANSLATES[user.lepei_type]}}
        </p>
        <p class="user-language">
            {# languages #}
            <strong>{{_e('语言')}}</strong> <br/>
            {% for lantid , lanfam in user.langs %}
                <span>{{TRANSLATES[lantid]}}</span>( {{TRANSLATES[lanfam]}} )<br/>
            {% endfor %}
        </p>
        {#
        <p class="user-contact">
            <strong>{{_e('联系方式')}}</strong> <br/>
            {% if UID %}
                {% for ctid , cval in user.contacts %}
                    <span>{{ TRANSLATES[ctid] }}</span><span>{{cval}}</span>
                {% endfor %}
            {% else %}
                <a data-a="login" href="javascript:;">{{_e('登录')}}</a> {{_e('查看TA的联系方式')}} <br/>
            {% endif %}
        </p>
        #}
        <div class="user-share">
            <span class="c999">{{_e('如果喜欢TA就推荐TA吧，提高TA的人气')}}</span><br/>
            <span class="c-num fs18">{{_e('已有<em>#[num]</em>人为TA加油', {num: 1})}}</span>

            {% set t = '找攻略、看游记？不如找个当地“小鲜”带你一起游，推荐' ~ LOCATIONS[user.lid].name ~ '靠谱小鲜一枚。' | php_rawurlencode  %}
            {% set url = 'http://xianlvke.com/detail/' ~ user.id ~ '/' | php_rawurlencode %}
            <a target="_blank" href="http://service.weibo.com/share/share.php?title={{t}}&url={{url}}&source=bookmark&pic=&ralateUid=1647863564"><i class="i-share i-sina"></i></a>
            <a target="_blank" href="http://share.v.t.qq.com/index.php?c=share&a=index&title={{t}}&url={{url}}&site=www.xianlvke.com&pic="><i class="i-share i-qq"></i></a>
            <a target="_blank" href="http://www.facebook.com/sharer.php?u={{url}}&t={{t}}"><i class="i-share i-facebook"></i></a>
            <a target="_blank" href="https://twitter.com/home?status={{t}}{{url}}"><i class="i-share i-twitter"></i></a>
            <a target="_blank" href="https://plus.google.com/share?url={{url}}&t={{t}}"><i class="i-share i-gplus"></i></a>
        </div>
    </div>
</section>

{{ require('detail/user-detail.css') }}