{% extends "base/frame.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
{{ sta( 'base.js,base.css,,a/c.css' ~ stalist ) }}
{% endblock %}

{% block header %}
    {{ header }} {{ UID }} {{'base.js,base.css,' ~ stalist}}
{% endblock %}
{% block content %}
    <h1></h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    {% include "index/block.twig" %}
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}