{% extends "base/frame.twig" %}

{% block title %}Index{% endblock %}

{% block header %}
    {{ header }} {{ UID }} {{'base.js,base.css,' ~ stalist}}
{% endblock %}
{% block content %}
    <h1></h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    {{ require("base.css,base.css" , {'a':"aaa",'b':"ccc"} ) }}
    {% include "widget/topbar/top.twig" %}
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}