{% import "base/macro.twig" as Macro %}
<section class="top-slider">
    <ul class="top-slider-imgs" style="overflow:hidden;">
        {% for i in range(1,5) %}
        <li {{i > 1 ? 'style="display:none"' : ''}} class="top-slider-img"><img src="{{('image/h'~ i ~'.jpg')|url}}" alt=""></li>
        {% endfor %}
    </ul>
    <div class="top-slider-fro">
        <div class="slogon">
            <h1>{{_e('带你寻找鲜の旅')}}</h1>
            <h2>{{_e('找攻略、看游记？不如找个当地“小鲜”带你一起游，更能体验新奇独特的旅行！')}}</h2>
            <a href="/sta/?type=aboutus">{{_e('谁是小鲜？')}}</a>
        </div>
        <div class="slider-btns" id="J_slider-btns">
            <div class="slider-left"></div>
            <div class="slider-right"></div>
        </div>
        <ul class="slider-users br4" id="J_sliders-users">
            {% for uid in top_user_list %}
            {% set user = USERS[uid] %}
            {% set left = 500 + 125 * (loop.index0 - 1) %}
            <li class="clearfix {{loop.index == 1 ? 'selected' : ''}}"
            style="{{loop.index > 1 ? 'left:' ~ left ~ 'px' : '' }}">
                <div class="fl">
                    {{Macro.userhead( user , 70 , true )}}
                </div>
                <p class="desc">
                    {{Macro.username( user )}}&nbsp;&nbsp;
                    {{_e('在#[locname]<em>向你发出邀请</em>' , {locname: Macro.useraddr( user , LOCATIONS )})}}<br/>
                    <span class="fs20 nowrap yahei">{{PROJECTS[user.projects.0].title|cut_str(18)}}</span>
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{{require("index/slider.css,pagejs/index-slider.js")}}