{% import "base/micro.twig" as Micro %}
<section class="top-slider">
    <div class="top-slider-imgs" style="overflow:hidden;">
        <img src="{{'image/h1.jpg'|url}}" alt="">
        <!--<img src="{{'image/h2.jpg'|url}}" alt="">-->
    </div>
    <div class="top-slider-fro">
        <div class="slogon">
            <h1>{{_e('邂逅我的鲜旅奇缘')}}</h1>
            <h2>{{_e('找攻略、看游记？不如找个当地“小鲜”带你一起游，更能体验新奇独特的旅行！')}}</h2>
            <a href="">{{_e('谁是小鲜？')}}</a>
        </div>
        <div class="slider-btns">
            <div class="slider-left"></div>
            <div class="slider-right"></div>
        </div>
        <ul class="slider-users br4">
            {%set user = USERS[1]%}
            <li class="clearfix selected">
                <div class="fl">
                    {{Micro.userhead( user , 70)}}
                </div>
                <p class="desc">
                    {{Micro.username( user )}}&nbsp;&nbsp;
                    {{_e('在#[locname]<em>向你发出邀请</em>' , {locname: Micro.useraddr( user , LOCATIONS )})}}<br/>
                    <span class="fs20 yahei">{{_e('夏色如日-关西7日行（神户篇）')}}</span>
                </p>
            </li>
            <li class="clearfix" style="left: 500px">
                <div class="fl">
                    {{Micro.userhead( user , 70)}}
                </div>
                <p class="desc">
                    {{Micro.username( user )}}&nbsp;&nbsp;
                    {{_e('在#[locname]<em>向你发出邀请</em>' , {locname: Micro.useraddr( user , LOCATIONS )})}}<br/>
                    <span class="fs20 yahei">{{_e('夏色如日-关西7日行（神户篇）')}}</span>
                </p>
            </li>
            <li class="clearfix" style="left: 625px">
                <div class="fl">
                    {{Micro.userhead( user , 70)}}
                </div>
                <p class="desc">
                    {{Micro.username( user )}}&nbsp;&nbsp;
                    {{_e('在#[locname]<em>向你发出邀请</em>' , {locname: Micro.useraddr( user , LOCATIONS )})}}<br/>
                    <span class="fs20 yahei">{{_e('夏色如日-关西7日行（神户篇）')}}</span>
                </p>
            </li>
            <li class="clearfix" style="left: 750px">
                <div class="fl">
                    {{Micro.userhead( user , 70)}}
                </div>
                <p class="desc">
                    {{Micro.username( user )}}&nbsp;&nbsp;
                    {{_e('在#[locname]<em>向你发出邀请</em>' , {locname: Micro.useraddr( user , LOCATIONS )})}}<br/>
                    <span class="fs20 yahei">{{_e('夏色如日-关西7日行（神户篇）')}}</span>
                </p>
            </li>
            <li class="clearfix" style="left: 875px">
                <div class="fl">
                    {{Micro.userhead( user , 70)}}
                </div>
                <p class="desc">
                    {{Micro.username( user )}}&nbsp;&nbsp;
                    {{_e('在#[locname]<em>向你发出邀请</em>' , {locname: Micro.useraddr( user , LOCATIONS )})}}<br/>
                    <span class="fs20 yahei">{{_e('夏色如日-关西7日行（神户篇）')}}</span>
                </p>
            </li>
        </ul>
    </div>
</section>
{{require("index/slider.css,pagejs/index-slider.js")}}