<div class="step-suc clearfix">
    <div class="suc-tip"></div>
    <div class="suc-text">
        <p class="fs20 yahei">{{_e('您的资料已经提交成功！')}}</p>
        <p>{{_e('接下来，Lepei.cc小鲜团队将会和你取得联系，以核实您提交的资料。')}}</p>
        <p class="c999">{{_e('请先尽快 <span class="orange">绑定你的支付宝账户</span> ，否则您将无法收到付款')}}</p>
    </div>
</div>
<div class="l-help">
    <h3 class="fs16">{{_e('需要帮助吗？')}}</h3>
    <p>
        {{_e('祝您住宿愉快！')}} <br/>
        {{_e('有任何紧急问题，请联系：xxxxxxxxxxxxxxxxxxxx')}}
    </p>
    <p>
        {{_e('我们的客户服务团队也能帮助您，<a href="">请发送信息给我们</a>，或拨打我们的电话：')}} <br>
        <strong>{{_e('中文服务（普通话）：')}}</strong> 4000000000<br>
        <strong>{{_e('中文服务（普通话）：')}}</strong> 4000000000<br>
        <strong>{{_e('中文服务（普通话）：')}}</strong> 4000000000<br>
    </p>
    <p style="text-align:right;" class="fs14">
        <em>{{_e('祝您旅途愉快！')}}</em><br/>
        <em class="c999">{{_e('Lepei.cc小鲜团队')}}</em>
    </p>
</div>