<div class="step-suc clearfix">
    <div class="suc-tip"></div>
    <div class="suc-text">
        <p class="fs20 yahei">{{_e('您的资料已经提交成功！')}}</p>
        <p>{{_e('你即将成为小鲜的一员，之后我们会以邮件和站内信的方式通知您审核结果')}}</p>
        {#<p class="c999">{{_e('请先尽快 <span class="orange">绑定你的支付宝账户</span> ，否则您将无法收到付款')}}</p>#}
    </div>
</div>

<div class="l-help">
    <h3 class="fs16">{{_e('如有任何疑问，欢迎使用如下联系方式告诉我们：')}}</h3>
    <p>
        {{_e('我们的客户服务团队也能帮助您，<a href="">请发送信息给我们</a>，或拨打我们的电话：')}} <br>
        <strong>{{_e('客服QQ：')}}</strong> 2811862075<br>
        <strong>{{_e('新浪微博：')}}</strong> <a target="_blank" href="http://weibo.com/xianlvke">@鲜旅客</a> <br>
        <strong>{{_e('电子邮箱：')}}</strong> xianlvke@gmail.com<br>
    </p>
    <p style="text-align:right;" class="fs14">
        <em>{{_e('祝您旅途愉快！')}}</em><br/>
        <em class="c999">{{_e('xianlvke.com小鲜团队')}}</em>
    </p>
</div>