{% extends "base/frame.twig" %}
{% block title %}Index{% endblock %}
{% block content %}
    {%set loc = LOCATIONS[LID]%}
    <div class="profile layout-400-580">
        <nav class="path">
            <a href="/">{{_e('首页')}}</a>
            {% set loc_path=loc.path|merge([LID]) %}
            {% for lid in loc_path %}
                {% if loop.index >=2 %}
                <span>→</span>
                <a href="/loc/{{loop.index == 2 ? "country":"city" }}/{{lid}}" num="{{_e('#[num]个乐陪',{num:LOCATIONS[lid].counts.dipei+0})}}">{{LOCATIONS[lid].name}}</a>
                {% endif %}
            {% endfor %}
        </nav>

        <div class="layout-l">
            <!-- search -->
            {% include "widget/search/search.twig" %}
        </div>
        <div class="layout-r">
            <section class="widget-loc clearfix">
                {% include "widget/loc-img.twig" %}
                <div class="tabs lh30">
                    {% set type = request("type" , 'get') %}
                    <a class="{{type == 11 ? "selected" : "" }}" href="/loc/city/{{LID}}/?type=11">{{_e('专业地陪')}}</a>
                    <a class="{{type == 12 ? "selected" : "" }}" href="/loc/city/{{LID}}/?type=12">{{_e('留学生')}}</a>
                    <a class="{{type == 13 ? "selected" : "" }}" href="/loc/city/{{LID}}/?type=13">{{_e('当地居民')}}</a>
                    <a class="{{type == 14 ? "selected" : "" }}" href="/loc/city/{{LID}}/?type=14">{{_e('侨民')}}</a>
                </div>
                <ul class="lepei-list">
                    {% for uid in lepei_list %}
                        {% include "widget/lepei.twig" with
                            {"user": USERS[uid] ,
                            "show_loc": false ,
                            "show_desc": true,
                            "show_opt": false } %}
                    {% endfor %}
                </ul>
                <a href="/loc/city/{{LID}}/" class="fr btn btn-green">{{_e('所有位于#[locname]的#[num]个乐陪' , {'num': loc.counts.dipei , 'locname': loc.name})}}</a>
            </section>
            {% include "widget/right/history.twig" %}
        </div>
    </div>
{{require('index/widget-right.css')}}

{% endblock %}