{% extends "base/frame.twig" %}
{% block title %}
{{_e('#[locname] - 鲜旅客 – 带你寻找鲜の旅' , {locname:LOCATIONS[LID].name})}}
{% endblock %}
{% block content %}
{% import "base/macro.twig" as Macro %}
    {% set loc = LOCATIONS[LID] %}
    <div class="layout-720-260">
        {% include "widget/path.twig" with {path_lid: LID} %}
        <div class="layout-l">
            {% set images = [] %}
            <div class="loc-images clearfix">
                <div class="l-b-img" style="width:720px;overflow:hidden;position:relative;">
                    <!--city name-->
                    <span class="loc-name">{{loc.name}} {{Macro.country32flag(loc)}}</span>
                    <!--city image-->
                    <img style="margin-top:-{{(loc.images[0]|get_img_height)/2}}px" src="{{images[0] ? images[0]|url('img', 720 , 0) : loc.images[0]|url("img" , 720 , 0) }}" alt="">
                    {% set favtitle=_e('收藏城市') %}
                    {% set unfavtitle=_e('取消收藏') %}
                    <a class="likebg" data-fav-title="{{favtitle}}" data-toggle="tooltip" title="{{likes[LID]?unfavtitle:favtitle}}" data-placement="left" data-unfav-title="{{unfavtitle}}" 
                    data-nl="true" data-a="{{likes[LID] ? 'unfav':'fav'}}" data-d="tp=1&oid={{LID}}" href="javascript:;">
                        <span class="i-like-bg"><i class="i-icon i-like-to"></i></span>
                        {#<span class="like-bg">{{_e("喜欢这座城市")}}</span>#}
                    </a>
                    <!--
                    <span class="photo-user"><i class="i-icon i-photo"></i> PHOTO BY <a href="#">XXXX</a></span>
                    -->
                </div>
                {#
                <ul class="l-s-img clearfix">
                    {% for v in range(0,5) %}
                    <li>
                        {% if images[v] %}
                        <img src="{{images[v] ? images[v]|url('img', 80 , 0) : "xxxx"|url("sta") }}" alt="">
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                #}
            </div>

            <div class="loc-feeds bg-w box-s">
                <div class="loc-h clearfix">
                    <a href="javascript:;" class="fr" id="G_publisher-btn"><i class="i-icon i-publish"></i></a>
                    {% for uid in latest_lepeis %}
                        <a title="{{USERS[uid].name}}" href="/detail/{{uid}}/"><img class="bdr100" src="{{USERS[uid].head|url("head", 30,30)}}" width="30" height="30" alt="" /></a>
                    {% endfor%}
                    <span class="fs20 yahei"><span>...</span>{{_e('我们在#[locname]等你来！' , {locname: LOCATIONS[LID].name })}}</span>
                </div>
                <div class="tabs lh30">
                    {% set type = request("type" , 'get')|default('') %}
                    <a class="{{ !type ? "selected" : "" }}" href="/loc/city/{{LID}}/">{{_e('全部')}}</a>
                    <a class="{{2 == type ? "selected" : "" }}" href="/loc/city/{{LID}}/?type=2">{{_e("问题求助")}}</a>
                    <a class="{{1 == type ? "selected" : "" }}" href="/loc/city/{{LID}}/?type=1">{{_e("本地游记")}}</a>
                    <a class="{{3 == type ? "selected" : "" }}" href="/loc/city/{{LID}}/?type=3">{{_e("本地鲜旅")}}</a>
                </div>
                <ul class="loc-feeds-wrap">
                    {% for feed in FEEDS %}
                        {% include "widget/post-item.twig"  with 
                        { feed: feed
                        , show_user: true } %}
                    {% else %}
                        <li class="no-data">{{_e('暂无数据')}}</li>
                    {% endfor %}
                </ul>

                {% include "widget/page.twig" %}
                <!--post wrap-->
                {% include "widget/post-box.twig" with {lid: LID}%}
            </div>
        </div>
        <div class="layout-r bg-w box-s">
            <div class="loc-like">
                <div class="loc-h"><strong>{{_e('#[num]人想去#[locname]' , {num: LOCATIONS[LID].like+0 , locname: LOCATIONS[LID].name })}}</strong></div>
                <ul class="loc-like-list clearfix">
                    {% for uid in like_users %}
                    <li><a href="/detail/{{uid}}/" title="{{USERS[uid].name}}" target="_blank"><img class="br4" src="{{USERS[uid].head|url("head" , 24 ,24 )}}" width="24" height="24" alt="{{USERS[uid].name}}"/></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="loc-lepei">
                <div class="loc-h"><strong>{{_e('#[locname]的资深小鲜' , {locname: LOCATIONS[LID].name })}}</strong></div>
                <ul class="loc-lepei-list">
                    {% for leid in hot_lepeis %}
                        <li class="clearfix">
                            <div class="fl">{{Macro.userhead( USERS[leid] , 70 )}}</div>
                            <div class="loc-l-r">
                                <div>{{Macro.username(USERS[leid])}}</div>
                                <div>{{Macro.useraddr(USERS[leid] , LOCATIONS)}}</div>
                                <div class="c999">{{_e('TA共规划了#[num]个鲜旅' , {num: USERS[leid].projects|length })}}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/loc/{{LID}}/" class="btn btn-green">{{_e('所有位于#[locname]的小鲜', {locname: LOCATIONS[LID].name })}}</a>
            </div>
        </div>
    </div>

    {{require('loc/loc-flow.css,pagejs/loc-flow.js')}}
{% endblock %}