{% extends "base/frame.twig" %}
{% block title %}Index{% endblock %}
{% block content %}
{% import "base/macro.twig" as Macro %}
    <section class="become-host bg-w box-s br4">
        <div class="h-t">
            <img src="{{'image/become.png'|url('sta')}}" alt="" />
            <p class="b-t">{{_e('Become a Host!')}}</p>
            <p style="top:170px;">{{_e('假如您热爱您所在的城市，这个独一无二的平台，')}}</p>
            <p style="top:220px;">{{_e('可以帮助您向全世界介绍您的城市，展示您设计的新鲜独特的旅行方案。')}}</p>
        </div>
        <div class="h-b h-b-1 clearfix">
            <ul>
                <li>
                    <p class="h-b-t"><em>01</em><span>{{_e('提交鲜旅')}}</span></p>
                    <p class="h-b-b">{{_e('一旦您提交了鲜旅，我们的编辑团队将尽快审核，安排人和您联系，打电话或者在线视频了解更多信息，并最终批准。')}}</p>
                </li>
                <li>
                    <p class="h-b-t"><em>02</em><span>{{_e('收到预约')}}</span></p>
                    <p class="h-b-b">{{_e('一旦您通过了我们编审团队的审核，您的将会收到来自一个或多个旅客的预约，并确定是否接受对方的预约。')}}</p>
                </li>
                <li>
                    <p class="h-b-t"><em>03</em><span>{{_e('让旅客感受您的热情')}}</span></p>
                    <p class="h-b-b">{{_e('现在，在约定的日期和行程里带领您的客人充分感受您的热情，体验您所带给他们的独特旅行。')}}</p>
                </li>
                <li>
                    <p class="h-b-t"><em>04</em><span>{{_e('接受报酬')}}</span></p>
                    <p class="h-b-b">{{_e('收到来自旅客的报酬，报酬由您和旅客的预先约定，可以是一个纪念品一顿饭或者一定数量的酬金。')}}</p>
                </li>
            </ul>
        </div>
        <div class="h-b h-b-2">
            <img src="{{'image/become-m.png'|url('sta')}}" alt="" />
            <ul class="clearfix">
                <li>
                    <h3>{{_e('第一、发布只需几分钟')}}</h3>
                    <p>{{_e('创建您自己独特的旅行体验，与世界分享您的热情。我们会认真审核您提交的资料清单。并会和你取得联系，听取更多关于您的信息。')}}</p>
                </li>
                <li>
                    <h3>{{_e('第二、人人都能成为小鲜')}}</h3>
                    <p>{{_e('无论您是个人还是企业主，无论您是留学生、美食家、艺术家、外籍人士、当地居民，都可以成为一个小鲜，并向全球的网民展示您的风采。')}}</p>
                </li>
                <li>
                    <h3>{{_e('第三、安全无风险')}}</h3>
                    <p>{{_e('鲜旅客目前不支持直接交易，旅客和小鲜双方可以协商双方认可的安全支付方式。鲜旅客将严格控制小鲜的服务质量，及时剔除不良小鲜，把旅客的风险降到最低。温馨提示：旅客可以优先选择支付过保证金的小鲜。')}}</p>
                </li>
                <li>
                    <h3>{{_e('第四、完全免费')}}</h3>
                    <p>{{_e('您可以免费发布鲜旅，鲜旅客不收取任何发布费用，提供免费展示平台。')}}</p>
                </li>
            </ul>
        </div>
        <div class="h-b h-b-3">
            <p class="fs20">{{_e('最新注册小鲜')}}</p>
            <ul class='user-list clearfix'>
                {% for uid in user_list%}
                {% set user = USERS[uid] %}
                <li>
                    {{Macro.userhead( user , 90 )}}
                    {{Macro.username( user )}}
                    <div class="u-status c999">
                        {{Macro.userstatus( user )}}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="btns">
            <a href="{{ UID ? ( USERS[UID].lepei_type ? '/profile/host/service/?op=new' : '/auth/' ) : 'javascript:void(0);'}}" {{UID ? '':'data-a="login"'}} class="btn btn-pink yahei">{{_e('发布旅行体验')}}</a>
        </div>
    </section>
    {{require('become/b.css')}}
{% endblock %}
