{#block footer#}
<section class="footer">
    {#
    <p class="fs14">{{_e('don\'t miss latest deals! Free RSS:')}}</p>
    <form action="">
        <input type="text" class="rss-input" placeholder="{{_e('your email')}}" />
        <button class="btn btn-green fs14">{{_e('RSS')}}</button>
    </form>
    #}
    <p class="fs14">{{_e('请选择一种你熟悉的语言:')}}</p>
    <p class="langs">
        {% for key , local in var('LOCALS') %}
        {% if loop.index > 1 %}<span class="mgl10 mgr10">|</span>{% endif %}
        <a href="javascript:;" c="{{key}}" {{request('lang' , 'cookie') == key ? "class=\"l-blur fs14 blod\"":""}}>{{local}}</a>
        {% endfor %}
    </p>
    <p>
        <a href="/sta/?type=aboutus">{{_e('关于鲜旅客')}}</a><span class="mgl10 mgr10">|</span>
        <a href="/sta/?type=team">{{_e('团队')}}</a><span class="mgl10 mgr10">|</span>
        <a href="/sta/?type=contact">{{_e('联系方式')}}</a><span class="mgl10 mgr10">|</span>
        <a href="/sta/?type=faq">{{_e('常见问题')}}</a><span class="mgl10 mgr10">|</span>
        <a href="/sta/?type=ment">{{_e('政策条款')}}</a><span class="mgl10 mgr10">|</span>
        <a href="http://www.weibo.com/xianlvke" target="_blank">{{_e('官方微博')}}</a>
    </p>
    <p>2005-2013 Lepei.cc,all rights reserved</p>
</section>