{% spaceless %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="bookmark" href="/favicon.ico" type="image/x-icon">
        <title>{% block title %}{{_e('【鲜旅客】邂逅鲜旅奇缘 - 全球导游、家庭旅馆预约平台 | 免费发布信息')}}{% endblock %}</title>
        <meta name="keywords" content="当地导游|留学生导游|巴黎家庭旅馆|家庭旅馆|中文导游|曼谷导游|民宿|私人导游|巴黎导游|持证导游|司导|租车|暹粒导游" />
        <meta name="description" content="鲜旅客(xianlvke.com)，为你提供全球最靠谱的当地导游和最实惠的家庭旅馆！没有跟团游的匆忙和自助游的盲目，找到靠谱的当地导游，带你体验更加自由和新鲜的旅程；住进安全实惠的家庭旅馆，让身在异乡的你，也能感受到家的温暖！">
        <meta content="index,follow" name="robots">
        <meta content="index,follow" name="GOOGLEBOT">
        <meta content="当地导游"  name="Author">
        {# render base css , this is base file for all site #}
        {{ sta( 'base.css') }}

        {# include follow base css  #}
        {% block head %}
        {{ sta( page_css_list )}}
        {% endblock %}
        <script type="text/javascript">
            var LP_CONFIGS = {
                uid: '{{UID}}'
            }
        </script>
        {# render base js, this is base js file for the whole site #}
        {{ sta( 'sea/sea-debug.js,config.js,sea/plugin-shim.js,lp.core.js,lp.base.js' ) }}
        <!--[if lt IE 9]>
        <script type="text/javascript">
            (function(){var tmps = 'article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary'.split(',');for(var tmp,i=0;tmp=tmps[i];i++){document.createElement(tmp);}})();
        </script>
        <![endif]-->

    </head>
    <body {% block bodyclass %}{% endblock %}>
        <header>
            {% include "base/header.twig" %}
            {% block header %}{% endblock %}
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer>
            {% block footer %}{% endblock %}
            {% include "base/footer.twig" %}
        </footer>
        {% if UID %}
        {% include "widget/like-to-bar.twig" %}
        {% endif %}
        {# render page js and pass server var to js #}
        {{renderPageJs()}}

        <div class="back-top">
        </div>

        <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-43896626-1', 'xianlvke.com');
        ga('send', 'pageview');
        </script>
        <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F49e334925e6bcb3e1d7e86d9b346d9b5' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <div style="text-align:center;display:none;">
            <MARQUEE width=1 height=5 scrollamount=10000>
            Keywords:
            <a href="http://www.xianlvke.com/sitemap1.html" title="巴黎家庭旅馆" target="_blank"><strong>巴黎家庭旅馆</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.xml" title="曼谷导游" target="_blank"><strong>曼谷导游</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.xml" title="清迈导游" target="_blank"><strong>清迈导游</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.html" title="罗马家庭旅馆" target="_blank"><strong>罗马家庭旅馆</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.xml" title="威尼斯导游" target="_blank"><strong>威尼斯导游</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.xml" title="曼谷导游" target="_blank"><strong>曼谷导游</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.html" title="巴黎导游" target="_blank"><strong>巴黎导游</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.xml" title="伦敦导游" target="_blank"><strong>伦敦导游</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.xml" title="米兰导游" target="_blank"><strong>米兰导游</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.html" title="慕尼黑家庭旅馆" target="_blank"><strong>慕尼黑家庭旅馆</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.xml" title="新加坡导游" target="_blank"><strong>新加坡导游</strong></a> 
            <a href="http://www.xianlvke.com/sitemap1.xml" title="苏黎世家庭旅馆" target="_blank"><strong>苏黎世家庭旅馆</strong></a> 
            </MARQUEE>
        </div>
    </body>
</html>
{% endspaceless %}