{# block header #}
<section class="top-bar">
    <div class="top-color" ></div>
    <div class="top-con">
        <a href="/"><img class="logo" src="{{'image/logo.png'|url}}" alt="{{_e('乐陪')}}" title="{{_e('乐陪')}}"/></a>
        <div class="top-r clearfix">
            <div class="top-r-w">
                {#
                1.如果没有登录，弹出登录框
                2.如果不是乐陪，跳转到认证页面
                3.如果是乐陪，跳转到个人中心页面
                 #}
                <a class="btn btn-pub" href="{{ UID ? ( isAuthed(USERS[UID]) ? '/profile/host/service/?op=new' : '/auth/' ) : '/become/'}}"
                >{{_e('发布一个鲜旅')}}</a>
            </div>
            <div class="top-r-sep"></div>
            <div class="top-r-w" {% if !UID %}id="J_l-top"{% endif %}>
            {% if UID %}
                <img class="bdr100" src="{{USERS[UID].head|url('head' , 30 , 30)}}" width="30" height="30" alt="{{USERS[UID].name}}"/>
                <span class="mgl10">{{USERS[UID].name}}</span>
                <div class="dropdown-menu">
                    <ul class="dropdown-menu-inner">
                        {% if USERS[UID].lepei_type %}
                        <li><a href="/detail/{{UID}}/">{{_e('我的展示页')}}</a></li>
                        <li><a href="/loc/city/{{USERS[UID].lid}}/">{{_e('我的城市')}}</a></li>
                        <li class="divider"></li>
                        <li><a href="/profile/host/setting/">{{_e('小鲜控制面板')}}</a></li>
                        {% endif %}
                        <li><a href="/profile/guest/setting/">{{_e('游客控制面板')}}</a></li>
                        <li><a data-a="logout">{{_e('退出')}}</a></li>
                    </ul>
                </div>
            {% else %}
                <i class="i-icon i-user"></i>
                <strong>{{_e('注册帐户')}}</strong>
                {{_e('，已有帐户请')}}
                <strong>{{_e('登录')}}</strong>
                <div class="dropdown-menu login-wrap" id="J_login-wrap">
                    <div class="dropdown-menu-inner" >
                        <img class="loading" src="{{'image/loading.gif'|url('sta')}}" alt=""/>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="top-r-sep"></div>
            {% if UID %}
            <div class="top-r-w" >
                <span style="display:none;" class="msg-num"></span>
                <i class="i-icon i-msg"></i>
                <div class="dropdown-menu" >
                    <ul class="dropdown-menu-inner">
                        <li><a href="/profile/guest/msg/"><span class="fr mgl10 J_msg">0</span> {{_e('查看私信')}}</a></li>
                        <li><a href="/profile/guest/reply/"><span class="fr mgl10 J_reply">0</span> {{_e('查看评论')}}</a></li>
                        <li><a href="/profile/guest/notice/"><span class="fr mgl10 J_sysMessage">0</span>{{_e('查看系统通知')}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="top-r-sep"></div>
            {% endif %}
            <div class="top-r-w">
                {% set locals = var('LOCALS') %}
                {% set localCountry = var('LOCALS_COUNTRY') %}
                <img class="flag" src="{{("image/country/24/" ~ localCountry[request("lang","cookie")]  ~ ".png")|url("sta")}}" alt="">
                <div class="dropdown-menu" c="lang">
                    <ul class="dropdown-menu-inner">
                        {% for key , local in locals %}
                            <li c="{{key}}"><a><i class="i-country i-{{localCountry[key]}}"></i>{{local}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="top-r-sep"></div>
            <div class="top-r-w">
                {% set moneys = var('MONEYS') %}
                <span>{{moneys[request('money' , 'cookie')].symbol}}</span>
                <div class="dropdown-menu" c="money">
                    <ul class="dropdown-menu-inner money-list" style="height: 200px;overflow-y: scroll;">
                        {% for money_tid , money in moneys %}
                        <li c="{{money_tid}}">
                            <a><span class="symbol">{{moneys[money_tid].symbol}}</span>{{TRANSLATES[money_tid]}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="top-r-sep"></div>
        </div>
    </div>
</section>