{# block header #}
<section class="top">
    <div class="top-color" ></div>
    <div class="top-con">
        <a href="/"><img class="logo" src="{{'image/logo.png'|url}}" /></a>
        <div class="top-r">
            <div class="top-r-op clearfix">
               <div class="top-r-w">
                    <i class="i-icon i-user"></i>
                    {% if UID %}
                        {{USERS[UID].name}}
                    {% else %}
                        {{_e('My Lepei.cc')}}
                    {% endif %}
                    <i class="i-down-triangle"></i>
               </div>
               <span class="top-r-sep">|</span>
               <div class="top-r-w">
                    <i class="i-country i-china"></i>{{_e('chinese-language')}}<i class="i-down-triangle"></i>
                    <ul class="dropdown-menu">
                        <li><a>人民币</a></li>
                        <li><a>人民币</a></li>
                        <li><a>人民币</a></li>
                        <li><a>人民币</a></li>
                    </ul>
                </div>
                <span class="top-r-sep">|</span>
                <div class="top-r-w">
                    {{_e('CNY Renminbi')}}<i class="i-down-triangle"></i>
                    <ul class="dropdown-menu">
                        <li><a>人民币</a></li>
                        <li><a>人民币</a></li>
                        <li><a>人民币</a></li>
                        <li><a>人民币</a></li>
                    </ul>
                </div>
            </div>
            {% if !UID %}
                <div class="top-r-login">
                    <a href="javascript:;" data-A="login">{{_e('login')}}</a>
                    {{_e('to manager your booking. No account?')}}
                    <a href="javascript:;" data-A="reg">{{_e('sign up!')}}</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>


{#{ require("a.js,a/a.css,a/a.css" , {'a':"aaa",'b':"ccc"} ) }#}