{# block header #}
<section class="top">
    <div class="top-color" ></div>
    <div class="top-con">
        <a href="/"><img class="logo" src="{{'image/logo.png'|url}}" alt="{{_e('乐陪')}}" title="{{_e('乐陪')}}"/></a>
        <div class="top-r">
            <div class="top-r-op clearfix">
               <div class="top-r-w">
                    <i class="i-icon i-user"></i>
                    {% if UID %}
                        {{USERS[UID].name}}
                    {% else %}
                        {{_e('My Lepei.cc')}}
                    {% endif %}
                    <i class="i-down-triangle"></i>
               </div>
               <span class="top-r-sep">|</span>
               <div class="top-r-w">
                    {% set locals = var('LOCALS') %}
                    <i class="i-country i-china"></i>{{locals[ request('lang' , 'cookie') ]}}<i class="i-down-triangle"></i>
                    <ul class="dropdown-menu" c="lang" style="height: 200px;overflow-y: scroll;">
                        {% for key , local in locals %}
                            <li c="{{key}}"><a><i class="i-country i-{{key}}"></i>{{local}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="top-r-sep">|</span>
                <div class="top-r-w">
                    {% set moneys = var('MONEYS') %}
                    {{TRANSLATES[request('money' , 'cookie')]}}<i class="i-down-triangle"></i>
                    <ul class="dropdown-menu money-list" c="money" style="height: 200px;overflow-y: scroll;">
                        {% for money_tid in moneys %}
                        <li c="{{money_tid}}">
                            <a><span class="symbol">{{moneys[money_tid].symbol}}</span>{{TRANSLATES[money_tid]}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if !UID %}
                <div class="top-r-login">
                    <a href="javascript:;" data-A="login">{{_e('登录')}}</a>
                    {{_e('以管理你的预订。没有账号？')}}
                    <a href="javascript:;" data-A="reg">{{_e('立即注册吧!')}}</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>