{# block header #}
<section class="top">
    <div class="top-color" ></div>
    <div class="top-con">
        <a href="/"><img class="logo" src="{{'image/logo.png'|url}}" alt="{{_e('乐陪')}}" title="{{_e('乐陪')}}"/></a>
        <div class="top-r">
            <div class="top-r-op clearfix">
               <div class="top-r-w">
                    <i class="i-icon i-user"></i>
                    {% if UID %}
                        {{USERS[UID].name}}
                    {% else %}
                        {{_e('My Lepei.cc')}}
                    {% endif %}
                    <i class="i-down-triangle"></i>
               </div>
               <span class="top-r-sep">|</span>
               <div class="top-r-w">
                    {% set locals = var('LOCALS') %}
                    <i class="i-country i-china"></i>{{locals[ request('lang' , 'cookie') ]}}<i class="i-down-triangle"></i>
                    <ul class="dropdown-menu">
                        {% for key , local in locals %}
                            <li><a><i class="i-country i-{{key}}"></i>{{local}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="top-r-sep">|</span>
                <div class="top-r-w">
                    {% set moneys = var('MONEYS') %}
                    {{TRANSLATES[moneys[request('money' , 'cookie')].desc]}}<i class="i-down-triangle"></i>
                    <ul class="dropdown-menu money-list">
                        {% for money in moneys %}
                        <li>
                            <a><span class="symbol">{{money.symbol}}</span>{{TRANSLATES[money.desc]}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if !UID %}
                <div class="top-r-login">
                    <a href="javascript:;" data-A="login">{{_e('login')}}</a>
                    {{_e('to manager your booking. No account?')}}
                    <a href="javascript:;" data-A="reg">{{_e('sign up!')}}</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>


{#{ require("a.js,a/a.css,a/a.css" , {'a':"aaa",'b':"ccc"} ) }#}