{% macro userhead( user , outersize ) %}
    <div class="radiu-head" style="width:{{outersize-12}}px;height:{{outersize-12}}px">
        <img src="{{user.head|url("head" , outersize-14 )}}" width="{{outersize-14}}" height="{{outersize-14}}"
        style="width:{{outersize-14}}px;height:{{outersize-14}}px;"
        alt="" />
    </div>
{% endmacro %}

{% macro username( user ) %}
    <a class="uname" href="">{{user.name}}</a>
    {# add user medal #}
{% endmacro %}

{% macro dateselect( desc , style ) %}
    <label class="input-widget j-datepicker" style="{{style}}">
        <span class="input-val">{{desc}}</span>
        <i class="i-icon i-date"></i>
    </label>
{% endmacro %}