{####################################### micro for user ###########################################}
{# 渲染用户头像 #}
{% macro userhead( user , outersize , noLink) %}
    <div class="radiu-head box-s" style="width:{{outersize-12}}px;height:{{outersize-12}}px">
        {% if noLink %}
        <img src="{{user.head|url("head" , outersize-12 )}}" width="{{outersize-12}}" height="{{outersize-12}}" 
        style="width:{{outersize-12}}px;height:{{outersize-12}}px;"
        alt="" />
        {% else %}
        <a href="/detail/{{user.id}}/">
            <img src="{{user.head|url("head" , outersize-12 )}}" width="{{outersize-12}}" height="{{outersize-12}}"
        style="width:{{outersize-12}}px;height:{{outersize-12}}px;"
        alt="" />
        </a>
        {% endif %}
    </div>
{% endmacro %}
{# 渲染用户名称 #}
{% macro username( user ) %}
    <a class="u-name" href="/detail/{{user.id}}/">{{user.name}}</a>
    {# add user medal #}
{% endmacro %}


{# 渲染用户在线状态 #}
{% macro userstatus( user ) %}
    <i class="i-u i-{{ user.online ? 'online' : 'offline' }}"></i>
    {{ user.online ? _e('在线') : _e('离线') }}
{% endmacro %}


{# 渲染用户位置 #}
{% macro useraddr( user , LOCATIONS ) %}
    {% set loc = LOCATIONS[user.lid] %}
    {% if loc.path|length >= 2  %}
        {% set country = LOCATIONS[loc.path[1]] %}
        <span class="u-city">{{loc.name}}</span>,<span class="u-country">{{country.name}}</span><i class="i-country i-{{country.id}}"></i>
    {% else %}
        <span class="u-city">{{loc.name}}</span>
    {% endif %}
{% endmacro %}
{# 渲染用户评分 #}
{% macro score( score ) %}
    {% if score > 9 %}
        {% set desc = _e('好极了') %}
    {% elseif score > 8 %}
        {% set desc = _e('很好') %}
    {% elseif score > 6 %}
        {% set desc = _e('好') %}
    {% elseif score > 4 %}
        {% set desc = _e('不错') %}
    {% elseif score > 0 %}
        {% set desc = _e('bad') %}
    {% endif %}
    <span class="orange">{{desc}},{{score}}</span>
{% endmacro %}




{####################################### micro for component ###################################}
{# 渲染日历选择项 #}
{% macro dateselect( desc , style ) %}
    <label class="input-widget j-datepicker" style="{{style}}">
        <span class="input-val">{{desc}}</span>
        <i class="i-icon i-date"></i>
    </label>
{% endmacro %}

{# 渲染项目状态 #}
{% macro programstatus( state ) %}
    {% if state == 0 %}
        <span style="color:red;">[{{_e('审核中')}}]</span>
    {% elseif state == 1 %}
        <span style="color:green;">[{{_e('审核通过')}}]</span>
    {% elseif state == -1 %}
        <span style="color:black;">[{{_e('审核不通过')}}]</span>
    {% endif %}
{% endmacro %}

{# 渲染项目price #}
{% macro price( p ) %}
    {{var("MONEYS")[p.price_unit].symbol}} {{ p.price|number_format }}
{% endmacro %}


{# 渲染日期编辑框 #}
{# {{name:xx , value:222} ,{name:xx , value:222} ,{name:xx , value:222}} #}
{% macro renderdate( data ) %}
    {% set year = data[0] %}
    {% set month = data[1] %}
    {% set day = data[2] %}

    <select name="{{year.name}}">
        <option value="">{{_e("请选择")}}</option>
        {% for n in range( 1950 , date().format("Y") ) %}
        <option value="{{n}}" {% if year.value == n %}selected{% endif %}>{{n}}</option>
        {% endfor %}
    </select>
    {{_e('年')}}

    <select name="{{month.name}}">
        <option value="">{{_e("请选择")}}</option>
        {% for n in range( 1 , 12 ) %}
        <option value="{{n}}" {% if month.value == n %}selected{% endif %}>{{n}}</option>
        {% endfor %}
    </select>
    {{_e('月')}}
    <select name="{{day.name}}">
        <option value="">{{_e("请选择")}}</option>
        {# reset days #}
        {% if month in [1,3,5,7,8,10,12] %}
            {% set days = 31 %}
        {% elseif month == 2 %}
            {% if year.value % 400 != 0 && year.value % 4 == 0  %}
                {% set days = 29 %}
            {% else %}
                {% set days = 28 %}
            {% endif %}
        {% else %}
            {% set days = 30 %}
        {% endif %}
        {% for n in range( 1 , days ) %}
        <option value="{{n}}" {% if day.value == n %}selected{% endif %}>{{n}}</option>
        {% endfor %}
    </select>
    {{_e('日')}}
{% endmacro %}


{# 渲染时间 #}
{% macro time( time ) %}
    {{"2012年10月10日"}}
{% endmacro %}